@charset "UTF-8";

/* Header */
#header{min-width: 1280px;}
#header .inner{width: 1280px;margin: 0 auto;position:relative;}
#header .top-wrap{padding: 12px 0; border-bottom: solid 1px #e6e6e6;}
#header .top-wrap .inner .logo{display: inline-block;}
#header .top-wrap .inner .login{float: right; margin-top: 20px;}
#header .top-wrap .inner .login ul li{float: left;font-size: 12px;color: #595959;padding: 0 0 0 10px;}
#header .top-wrap .inner .login ul li::after{content: "";margin-left: 10px;display: inline-block;width: 1px;height: 10px;vertical-align: bottom;background-color: #e6e6e6;}
#header .top-wrap .inner .login ul li:last-child::after{display: none;}

/* gnb */
#header .gnb-wrap{padding: 5px 0; border-bottom: solid 1px #e6e6e6;font-size: 14px;background-color: #fff;}
#header .gnb-wrap .inner .gnb{display: inline-block;padding: 10px 0;vertical-align:middle;}
#header .gnb-wrap .inner .gnb li{float: left;padding-right: 74px;font-weight: 500;line-height: 1.43;}
#header .gnb-wrap .inner .gnb li.category{background:url(../images/icon/ico_category.svg) no-repeat left top;color: #ffb2ca;padding-left: 26px;background-size: 20px;}
#header .gnb-wrap .inner .search-wrap{position: absolute;right: 60px;top: 0;}
#header .gnb-wrap .inner .search-wrap .search-input{width: 370px;height: 40px;padding: 10px 60px 10px 30px;border-radius: 136px;background-color: #fff1f6;color: #444444;font-size: 14px;}
#header .gnb-wrap .inner .search-wrap .search-ico{position: absolute;right: 30px;top: 10px;}
#header .gnb-wrap .inner .cart{float: right;position: relative;padding-top: 5px;padding-right: 5px;}
#header .gnb-wrap .inner .cart .badge{position: absolute;right: 0;top: 0;width: 20px;height: 20px;margin: 0 0 14px 15px;padding: 2px 6px;background-color: #ffb2ca;border-radius: 50%;color: #fff;font-size: 14px;line-height: 1.3;}

/* Footer */
#footer{background-color:#fff;}
.ft-top{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.ft-top .inner{overflow:hidden;width:1280px;height:72px;margin:0 auto;}
.ft-menu{overflow:hidden;float:left;margin:25px 0 0 90px;}
.ft-menu li{position:relative;float:left;margin-left:15px;padding-left:15px;font-size:14px;}
.ft-menu li:before{content:'';position:absolute;left:0;top:5px;width:1px;height:12px;background-color:#707070;}
.ft-menu li:first-child{margin-left:0;padding-left:0;}
.ft-menu li:first-child:before{display:none;}
.ft-menu li a{display:block;line-height:20px;color:#595959;}
.sns{overflow:hidden;float:right;padding:20px 0;margin-right:91px;}
.sns li{float:left;}
.sns li + li{margin-left:10px;}
.sns li a{display:block;overflow:hidden;width:30px;height:30px;text-indent:-9999px;}
.sns li a.sns-kakao{background:url(../images/icon/ico_kakao.png) no-repeat left top;}
.sns li a.sns-instar{background:url(../images/icon/ico_insta.png) no-repeat left top;}
.sns li a.sns-facebook{background:url(../images/icon/ico_facebook.png) no-repeat left top;}
.sns li a.sns-blog{background:url(../images/icon/ico_blog.png) no-repeat left top;}

.ft-btm{clear:both;}
.ft-btm .inner{width:1280px;height:323px;margin:0 auto;}
.ft-btm .left-side,
.ft-btm .right-side{position:relative;float:left;}
.ft-btm .left-side{width:1018px;padding:49px 0 0 175px;}
.ft-btm .left-side .btm-logo{position:absolute;left:90px;top:50px;}
.ft-btm .left-side p{font-size:14px;line-height:23px;color:#828282;}
.ft-btm .left-side .copyright{margin:6px 0 18px;color:#595959;}
.ft-btm .right-side{width:200px;}
.ft-btm .right-side dl{padding:51px 0 14px;}
.ft-btm .right-side dl dt{font-weight:normal;font-size:15px;line-height:20px;color:#333;}
.ft-btm .right-side dl dd{margin-top:2px;font-family: 'Roboto', sans-serif !important;font-weight:500;font-size:28px;line-height:32px;color:#333;}
.ft-btm .right-side p{font-size:14px;line-height:24px;color:#828282;}
.ft-btm .right-side p span{font-weight:500;color:#595959;}
.ft-btm .right-side p span.lts{letter-spacing:-0.03em;}

/* color */
.bg-skyblue{overflow:hidden;min-width:1280px;background-color: #f5f9fc;}
.color-pink{color: #ffb2ca;}

/* btn */
.btn-sm{width: auto; height: 30px;font-size: 16px;line-height: 30px;text-align:center;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #ffffff;padding: 3px 20px;}
.btn-md{width: 155px; height: 60px;font-size: 18px;line-height: 60px;text-align:center;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #ffffff;}
.btn-large{width: 320px; height: 60px;font-size: 18px;line-height: 60px;text-align:center;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #ffffff;}
.btn-linepink{border-color: #ffb2ca;color: #ffb2ca;}
.btn-linepink:active, .btn-linepink:hover{background-color: #fff1f6;color: #ffb2ca;}
.btn-gray{border-color: #e6e6e6;color: #333;}
.btn-gray:active, .btn-gray:hover{background-color: #f5f9fc;}
.btn-pink{border: none;color: #fff;background-color: #ffb2ca;}
.btn-pink:active, .btn-pink:hover{background-color: #ff8eb1;color: #fff;}
.btn-disabled{color: #c8c8c8;background-color: #f9f9f9;cursor: default;}
.btn-disabled:active, .btn-disabled:hover{color: #c8c8c8;background-color: #f9f9f9;cursor: default;}