@charset "UTF-8";

/* Header */
#header{min-width: 1280px;}
#header .inner{width: 1280px;margin: 0 auto;position:relative;}
#header .top-wrap{padding: 12px 0; border-bottom: solid 1px #e6e6e6;}
#header .top-wrap .inner .logo{display: inline-block;}
#header .top-wrap .inner .login{float: right; margin-top: 20px;}
#header .top-wrap .inner .login ul li{float: left;font-size: 12px;color: #595959;padding: 0 0 0 10px;}
#header .top-wrap .inner .login ul li::after{content: "";margin-left: 10px;display: inline-block;width: 1px;height: 10px;vertical-align: bottom;background-color: #e6e6e6;}
#header .top-wrap .inner .login ul li:last-child::after{display: none;}

/* gnb */
#header .gnb-wrap{padding: 5px 0;border-bottom: solid 1px #e6e6e6;font-size: 14px;background-color: #fff;}
#header .gnb-wrap .inner .gnb{display: inline-block;margin:-5px 0;vertical-align:middle;}
#header .gnb-wrap .inner .gnb > li{position:relative;float: left;padding-right: 74px;font-weight: 500;line-height: 1.43;}
#header .gnb-wrap .inner .gnb > li > a{display:block;padding:15px 0;}
#header .gnb-wrap .inner .gnb li.category{background:url(../images/icon/ico_category.svg) no-repeat left 15px;color: #ffb2ca;padding-left: 26px;background-size: 20px;}
#header .gnb-wrap .inner .gnb li.category .depth2{display:none;position:absolute;left:0;top:50px;width:221px;height:481px;border-top: solid 1px #e6e6e6;background-color:#fff;z-index:10;}
#header .gnb-wrap .inner .gnb li.category .depth2 ul li{font-weight:400;font-size:14px;line-height:20px;letter-spacing:-0.35px;}
#header .gnb-wrap .inner .gnb li.category .depth2 ul li a{display:block;position:relative;padding:10px 10px 10px 50px;height:40px;color:#595959;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover a,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus a{background-color:#ffb2ca;color:#fff;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a:before{content:'';position:absolute;left:20px;top:50%;width:20px;height:20px;background:url(../images/common/category.png) no-repeat left top;transform:translate(0, -50%);}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a.ico-cate01:before{background-position:0 0;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a.ico-cate02:before{background-position:-20px 0;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a.ico-cate03:before{background-position:-40px 0;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a.ico-cate04:before{background-position:-60px 0;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a.ico-cate05:before{background-position:-80px 0;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a.ico-cate06:before{background-position:-100px 0;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a.ico-cate07:before{background-position:-120px 0;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a.ico-cate08:before{background-position:-140px 0;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a.ico-cate09:before{background-position:-160px 0;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a.ico-cate10:before{background-position:-180px 0;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a.ico-cate11:before{background-position:-200px 0;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li > a.ico-cate12:before{background-position:-220px 0;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover > a.ico-cate01:before,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus > a.ico-cate01:before{background-position:0 -20px;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover > a.ico-cate02:before,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus > a.ico-cate02:before{background-position:-20px -20px;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover > a.ico-cate03:before,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus > a.ico-cate03:before{background-position:-40px -20px;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover > a.ico-cate04:before,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus > a.ico-cate04:before{background-position:-60px -20px;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover > a.ico-cate05:before,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus > a.ico-cate05:before{background-position:-80px -20px;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover > a.ico-cate06:before,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus > a.ico-cate06:before{background-position:-100px -20px;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover > a.ico-cate07:before,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus > a.ico-cate07:before{background-position:-120px -20px;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover > a.ico-cate08:before,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus > a.ico-cate08:before{background-position:-140px -20px;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover > a.ico-cate09:before,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus > a.ico-cate09:before{background-position:-160px -20px;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover > a.ico-cate10:before,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus > a.ico-cate10:before{background-position:-180px -20px;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover > a.ico-cate11:before,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus > a.ico-cate11:before{background-position:-200px -20px;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover > a.ico-cate12:before,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus > a.ico-cate12:before{background-position:-220px -20px;}
#header .gnb-wrap .inner .gnb li.category .depth3{display:none;position:absolute;left:220px;top:0;width:221px;height:100%;border-left:1px solid #e6e6e6;background-color:#fff;z-index:10;}
#header .gnb-wrap .inner .gnb li.category .depth3 ul li a{padding:10px 10px 10px 20px;background-color:transparent !important;color:#595959 !important;}
#header .gnb-wrap .inner .gnb li.category .depth3 ul li:hover a,
#header .gnb-wrap .inner .gnb li.category .depth3 ul li:focus a{background-color:transparent !important;color:#ffb2ca !important;text-decoration:underline;}
#header .gnb-wrap .inner .gnb li.category:hover .depth2,
#header .gnb-wrap .inner .gnb li.category:focus .depth2{display:block;}
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:hover .depth3,
#header .gnb-wrap .inner .gnb li.category .depth2 > ul > li:focus .depth3{display:block;}

#header .gnb-wrap .inner .search-wrap{position: absolute;right: 60px;top: 0;width:370px;}
#header .gnb-wrap .inner .search-wrap > div{position:relative;}
#header .gnb-wrap .inner .search-wrap .search-input{width: 370px;height: 40px;padding: 10px 60px 10px 30px;border-radius: 136px;background-color: #fff1f6;color: #444444;font-size: 14px;}
#header .gnb-wrap .inner .search-wrap .search-ico{position: absolute;right: 30px;top: 10px;}
#header .gnb-wrap .inner .search-wrap.ext .search-input{border:2px solid #ffb2ca;border-radius:0;border-top-left-radius:40px;border-top-right-radius:40px;background-color:#fff;outline:0;}
#header .gnb-wrap .inner .search-wrap .search-ext{display:none;position:relative;left:0;top:100%;margin-top:-2px;z-index:20;border:2px solid #ffb2ca;border-bottom-left-radius:40px;border-bottom-right-radius:40px;background-color:#fff;}
#header .gnb-wrap .inner .search-wrap .search-ext > div{padding:20px 20px 25px;}
#header .gnb-wrap .inner .search-wrap .search-ext strong{display:block;margin-bottom:12px;font-size:16px;line-height:20px;color:#333;}
#header .gnb-wrap .inner .search-wrap .search-ext .recent-word{min-height:152px;margin:0 0 22px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
#header .gnb-wrap .inner .search-wrap .search-ext .recent-word .nodata{padding-top:40px;height:150px;text-align:center;}
#header .gnb-wrap .inner .search-wrap .search-ext .recent-word .nodata:before{content:'';display:block;width:40px;height:40px;margin:0 auto;background:url(../images/icon/ico_emark.svg) no-repeat left top;}
#header .gnb-wrap .inner .search-wrap .search-ext .recent-word .nodata p{margin-top:10px;font-size:14px;line-height:20px;color:#999;}
#header .gnb-wrap .inner .search-wrap .search-ext .recent-word > p{position:relative;padding:10px 30px 10px 0;height:40px;font-size:14px;line-height:20px;color:#595959;}
#header .gnb-wrap .inner .search-wrap .search-ext .recent-word > p button{position:absolute;right:0;top:50%;margin-top:-10px;width:20px;height:20px;background:url(../images/icon/ico_del02.svg) no-repeat left top;}
#header .gnb-wrap .inner .search-wrap .search-ext .recent-word > p button span{display:block;overflow:hidden;position:relative;text-indent:-9999px;}

#header .gnb-wrap .inner .search-wrap .search-ext .recom-word{font-size:0;letter-spacing:0;}
#header .gnb-wrap .inner .search-wrap .search-ext .recom-word a{display:inline-block;margin:0 5px 5px 0;padding:4px 14px;height:30px;border-radius:15px;border:1px solid #c8c8c8;font-size:14px;line-height:20px;color:#595959;vertical-align:middle;}

#header .gnb-wrap .inner .cart{float: right;position: relative;padding-top: 5px;padding-right: 5px;}
#header .gnb-wrap .inner .cart .badge{position: absolute;right: 0;top: 0;width: 20px;height: 20px;margin: 0 0 14px 15px;padding: 2px 6px;background-color: #ffb2ca;border-radius: 50%;color: #fff;font-size: 14px;line-height: 1.3;}

#header.fixed{padding-bottom:52px;}
#header.fixed .gnb-wrap{position:fixed;left:0;top:0;width:100%;z-index:100;}

/* Footer */
#footer{background-color:#fff;}
.ft-top{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.ft-top .inner{overflow:hidden;width:1280px;height:72px;margin:0 auto;}
.ft-menu{overflow:hidden;float:left;margin:25px 0 0 90px;}
.ft-menu li{position:relative;float:left;margin-left:15px;padding-left:15px;font-size:14px;}
.ft-menu li:before{content:'';position:absolute;left:0;top:5px;width:1px;height:12px;background-color:#707070;}
.ft-menu li:first-child{margin-left:0;padding-left:0;}
.ft-menu li:first-child:before{display:none;}
.ft-menu li a{display:block;line-height:20px;color:#595959;}
.sns{overflow:hidden;float:right;padding:20px 0;margin-right:91px;}
.sns li{float:left;}
.sns li + li{margin-left:10px;}
.sns li a{display:block;overflow:hidden;width:30px;height:30px;text-indent:-9999px;}
.sns li a.sns-kakao{background:url(../images/icon/ico_kakao.png) no-repeat left top;}
.sns li a.sns-instar{background:url(../images/icon/ico_insta.png) no-repeat left top;}
.sns li a.sns-facebook{background:url(../images/icon/ico_facebook.png) no-repeat left top;}
.sns li a.sns-blog{background:url(../images/icon/ico_blog.png) no-repeat left top;}

.ft-btm{clear:both;}
.ft-btm .inner{width:1280px;height:323px;margin:0 auto;}
.ft-btm .left-side,
.ft-btm .right-side{position:relative;float:left;}
.ft-btm .left-side{width:1018px;padding:49px 0 0 175px;}
.ft-btm .left-side .btm-logo{position:absolute;left:90px;top:50px;}
.ft-btm .left-side p{font-size:14px;line-height:23px;color:#828282;}
.ft-btm .left-side .copyright{margin:6px 0 18px;color:#595959;}
.ft-btm .right-side{width:200px;}
.ft-btm .right-side dl{padding:51px 0 14px;}
.ft-btm .right-side dl dt{font-weight:normal;font-size:15px;line-height:20px;color:#333;}
.ft-btm .right-side dl dd{margin-top:2px;font-family: 'Roboto', sans-serif !important;font-weight:500;font-size:28px;line-height:32px;color:#333;}
.ft-btm .right-side p{font-size:14px;line-height:24px;color:#828282;}
.ft-btm .right-side p span{font-weight:500;color:#595959;}
.ft-btm .right-side p span.lts{letter-spacing:-0.03em;}

/* color */
.bg-skyblue{overflow:hidden;min-width:1280px;background-color: #f5f9fc;}
.color-pink{color: #ffb2ca;}
.color-lightgray{color: #999999;}

/* btn */
.btn-sm{width: auto; height: 30px;font-size: 16px;line-height: 30px;text-align:center;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #ffffff;padding: 3px 20px;display: inline-block;line-height: 23px;letter-spacing: -1px;}
.btn-md{width: 155px; height: 60px;font-size: 18px;line-height: 60px;text-align:center;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #ffffff;display: inline-block;}
.btn-large{width: 320px; height: 60px;font-size: 18px;line-height: 60px;text-align:center;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #ffffff;display: inline-block;}
.btn-linepink{border-color: #ffb2ca;color: #ffb2ca;}
.btn-linepink:active, .btn-linepink:hover, .btn-linepink:focus{background-color: #fff1f6;color: #ffb2ca;}
.btn-gray{border-color: #e6e6e6;color: #333;}
.btn-gray:active, .btn-gray:hover{background-color: #f5f9fc;}
.btn-pink{border: none;color: #fff;background-color: #ffb2ca;}
.btn-pink:active, .btn-pink:hover, .btn-pink:focus{background-color: #ff8eb1;color: #fff;}
.btn-disabled{color: #c8c8c8;background-color: #f9f9f9;cursor: default;}
.btn-disabled:active, .btn-disabled:hover{color: #c8c8c8;background-color: #f9f9f9;cursor: default;}

/*Modal*/
.modal{
  display: none;
  position: fixed;
  z-index: 500; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal .modal-inner{display:flex;width:100%;height:100%;align-items:center;justify-content:center;}
.modal.fade{transition: opacity .15s linear;-webkit-transition: opacity .15s linear;-o-transition: opacity .15s linear;}
.modal.fade.in {opacity: 1;}
.modal-dialog {position: relative;width: auto;margin: 10px;}
.modal-dialog.modal-sm{width: 450px;}
.modal-content {position: relative;background-color: #fff;-webkit-background-clip: padding-box;background-clip: padding-box;outline: 0;border-radius: 20px;}
.modal-content .modal-header {position: relative;padding: 20px;border-bottom: 1px solid #e6e6e6;text-align: center;}
.modal-content .modal-header .modal-title {font-size: 22px;font-weight: 500;line-height: 1.5;margin-right: 30px;}
.modal-content .modal-body {padding: 20px 20px 0;}
.modal-content .modal-body .radio-box {position: relative;display: inline-block;width: calc(100% + 5px);margin-left: -2.5px;}
.modal-content .modal-body .radio-box ul li {width: calc(50% - 5px);float: left;margin: 0 2.5px;}
.modal-content .modal-body .radio-box input[type="radio"] {display:none;}
.modal-content .modal-body .radio-box input[type="radio"] + label {font-weight: 500;text-align: center;display: block;padding:18px 10px;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #ffffff;}
.modal-content .modal-body .radio-box input[type="radio"] + label span.ico {display:inline-block;width:18px;height:18px;margin:-2px 10px 0 0;vertical-align:middle;background:url(../images/icon/ico_radio.svg) left top no-repeat;cursor:pointer;}
.modal-content .modal-body .radio-box input[type="radio"] + label span.gray {color: #999999;font-size: 14px;padding-left: 5px;}
.modal-content .modal-body .radio-box input[type="radio"]:checked + label span.ico {background:url(../images/icon/ico_radio_on.svg) left top no-repeat;}
.modal-content .modal-body .radio-box input[type="radio"]:checked + label{border-color:#595959;}
.modal-content .modal-body .item{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;justify-content: space-between;align-items: center;}
.modal-content .modal-body .item+.item{margin-top: 20px;}
.modal-content .modal-body .item .sum .roboto{font-size: 28px;font-weight: 700;}
.modal-content .modal-body .tit{font-weight: 500;}
.modal-content .modal-body .option{padding-bottom: 30px;}
.modal-content .modal-body .option .tit{margin-bottom: 15px;}
.modal-content .modal-body .btn-quantity{width: 110px; position: relative;height: 30px;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #fff;}
.modal-content .modal-body .btn-quantity button.btn-minus{border-right: solid 1px #e6e6e6;background-color: transparent;cursor: pointer;position: relative;width: 30px;height: 100%;}
.modal-content .modal-body .btn-quantity button.btn-minus::before{position: absolute;top: 50%;left: 50%;width: 10px;height: 1px;margin: 0 0 0 -5px;background-color: #707070;content: '';}
.modal-content .modal-body .btn-quantity button.btn-plus{border-left: solid 1px #e6e6e6;background-color: transparent;cursor: pointer;position: relative;width: 30px;height: 100%;}
.modal-content .modal-body .btn-quantity button.btn-plus::before{position: absolute;top: 50%;left: 50%;width: 11px;height: 1px;margin: 0 0 0 -5px;background-color: #707070;content: '';}
.modal-content .modal-body .btn-quantity button.btn-plus::after{position: absolute;top: 50%;left: 50%;width: 1px;height: 11px;margin: -5px 0 0 0;background-color: #707070;content: '';}
.modal-content .modal-body .btn-quantity input.input-num{width: 40px;height: 100%;font-weight: 500;text-align: center;}
.modal-content .modal-body .select-box{position: relative;}
.modal-content .modal-body .select-box select{width:100%;border: 1px solid #e6e6e6;padding: 16px 20px;color: #c8c8c8;border-radius: 5px;}
.modal-content .modal-body .select-box::after{content: ''; background:url(../images/icon/ico_arrow_down_s.svg) left top no-repeat;display: inline-block;width: 20px;height: 20px;position: absolute;right: 20px;top: 15px;z-index: 99;}

.modal-content .modal-footer{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;padding: 20px;}
.modal-content .modal-footer a+a{margin-left: 5px;}
.modal-content .modal-header .close {float: right;text-indent: -99999px;}
.modal-content .modal-header .close::after {content: ''; background:url(../images/icon/ico_del.svg) no-repeat left top;display: inline-block;position: absolute;right: 30px;width: 20px;height: 20px;top: calc(50% - 10px);}

