@charset "UTF-8";

/* content */
.sub-container{min-width: 1280px;width: 1280px;margin: 0 auto;}
.sub-container .breadcrumbs{margin-top: 20px;}
.sub-container .breadcrumbs ul li{display: inline-block;color: #595959;font-size: 13px;line-height: 2.16;padding-right: 5px;}
.sub-container .breadcrumbs ul li.home{background: url(../images/icon/ico_home.svg) no-repeat left center;padding-left: 16.5px;}
.sub-container .breadcrumbs ul li::after{content: '';display: inline-block;background: url(../images/icon/ico_arrow-right-s.svg) no-repeat left calc(50% - 1px);width: 15px;height: 15px;vertical-align: middle;margin-left: 5px;}
.sub-container .breadcrumbs ul li:last-child:after{display: none;}
.sub-container .product-view-wrap{margin-top: 70px;}
.sub-container .product-view-wrap::after{content: '';display: block;clear: both;}
.sub-container .product-view-wrap .product-view{width: 540px;float: left;}
.sub-container .product-view-wrap .product-view img{width:100%;}
.sub-container .product-view-wrap{margin-top: 70px;}
.sub-container .product-view-wrap .product-option{float: left;margin-left: 90px;width: 650px;}
.sub-container .product-view-wrap .product-option .name-box{position: relative;}
.sub-container .product-view-wrap .product-option .name-box .name{font-size: 35px;line-height: 1.54;/*padding-right: 80px;*/}
.sub-container .product-view-wrap .product-option .name-box .ico-box{font-size: 0;text-indent: -999999px;position: absolute;top: 11px;right: 0;}
.sub-container .product-view-wrap .product-option .name-box .ico-box .ico-heart{background: url(../images/icon/ico_heart.svg) no-repeat left center;display: block;width: 30px;height: 30px;float: left;}
.sub-container .product-view-wrap .product-option .name-box .ico-box .ico-heart.on{background: url(../images/icon/ico_heart_on.svg) no-repeat left center;display: block;width: 30px;height: 30px;float: left;}
.sub-container .product-view-wrap .product-option .name-box .ico-box .ico-share{background: url(../images/icon/ico_share.svg) no-repeat left center;display: block;width: 30px;height: 30px;float: left;}
.sub-container .product-view-wrap .product-option .name-box .ico-box a+a{margin-left: 15px;}
.sub-container .product-view-wrap .product-option .summery{margin-top:5px;color: #999999;font-size: 16px;line-height: 1.3;}
.sub-container .product-view-wrap .product-option .star-wrap{margin-top:20px;}
.sub-container .product-view-wrap .product-option .star-wrap .star{float: left;margin-right: 15px;margin-top: 2px;}
.sub-container .product-view-wrap .product-option .star-wrap .star img{float: left;}
.sub-container .product-view-wrap .product-option .star-wrap .star img+img{margin-left: 5px;}
.sub-container .product-view-wrap .product-option .star-wrap .count > span{font-weight: 700;padding-left: 5px;}
.sub-container .product-view-wrap .product-option .price-wrap{margin-top: 30px;font-weight: 700;font-size: 20px;}
.sub-container .product-view-wrap .product-option .price-wrap .parcent{color: #ffa9c2;font-size: 30px;font-weight: 700;}
.sub-container .product-view-wrap .product-option .price-wrap .price{font-size: 30px;font-weight: 700;margin-left: 10px;}
.sub-container .product-view-wrap .product-option .price-wrap .sale{margin-left: 22px;font-weight: 400;font-size: 20px;color: #c8c8c8;text-decoration: line-through;}
.sub-container .product-view-wrap .product-option .product-info{border-top: solid 1px #707070;margin: 21px 0 20px;padding: 10px 0 25px;border-bottom: solid 1px #e6e6e6;}
.sub-container .product-view-wrap .product-option .product-info dl dt{float: left;width: 60px;padding-top: 15px;line-height: 1.3;}
.sub-container .product-view-wrap .product-option .product-info dl dd{display: inline-block;width: calc(100% - 60px);text-align: right;padding-top: 15px;line-height: 1.3;color: #595959;}
.sub-container .product-view-wrap .product-option .radio-box {position: relative;display: inline-block;width: calc(100% + 10px);margin-left: -5px;}
.sub-container .product-view-wrap .product-option .radio-box ul li {width: calc(50% - 10px);float: left;margin: 0 5px;}
.sub-container .product-view-wrap .product-option .radio-box input[type="radio"] {display:none;}
.sub-container .product-view-wrap .product-option .radio-box input[type="radio"] + label {font-weight: 500;text-align: center;display: block;padding:18px 10px;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #ffffff;}
.sub-container .product-view-wrap .product-option .radio-box input[type="radio"] + label span.ico {display:inline-block;width:18px;height:18px;margin:-2px 10px 0 0;vertical-align:middle;background:url(../images/icon/ico_radio.svg) left top no-repeat;cursor:pointer;}
.sub-container .product-view-wrap .product-option .radio-box input[type="radio"] + label span.gray {color: #999999;font-size: 14px;padding-left: 5px;}
.sub-container .product-view-wrap .product-option .radio-box input[type="radio"]:checked + label span.ico {background:url(../images/icon/ico_radio_on.svg) left top no-repeat;}
.sub-container .product-view-wrap .product-option .radio-box input[type="radio"]:checked + label{border-color:#595959;}
.sub-container .product-view-wrap .product-option .quantity-box {margin-top: 20px;}
.sub-container .product-view-wrap .product-option .quantity-box .item{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;width: 100%;padding: 21px 20px;background-color: #f5f9fc;justify-content: space-between;align-items: center;}
.sub-container .product-view-wrap .product-option .quantity-box .item .txt{width: 60%;line-height: 1.5;}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity{position: relative;height: 30px;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #fff;}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity button.btn-minus{border-right: solid 1px #e6e6e6;background-color: transparent;cursor: pointer;position: relative;width: 30px;height: 100%;}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity button.btn-minus::before{position: absolute;top: 50%;left: 50%;width: 10px;height: 1px;margin: 0 0 0 -5px;background-color: #707070;content: '';}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity button.btn-plus{border-left: solid 1px #e6e6e6;background-color: transparent;cursor: pointer;position: relative;width: 30px;height: 100%;}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity button.btn-plus::before{position: absolute;top: 50%;left: 50%;width: 11px;height: 1px;margin: 0 0 0 -5px;background-color: #707070;content: '';}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity button.btn-plus::after{position: absolute;top: 50%;left: 50%;width: 1px;height: 11px;margin: -5px 0 0 0;background-color: #707070;content: '';}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity input.input-num{width: 40px;height: 100%;font-weight: 500;text-align: center;}
.sub-container .product-view-wrap .product-option .quantity-box .item .price{font-weight: 500;text-align: right;width: 90px;}
.sub-container .product-view-wrap .product-option .quantity-box .item a.del{margin-left: 20px;}
.sub-container .product-view-wrap .product-option .total-box{margin-top:20px;padding-top:33px;border-top: solid 1px #e6e6e6;font-size: 20px;line-height: 1.45;}
.sub-container .product-view-wrap .product-option .total-box .sum{float: right;margin-top: -5px;}
.sub-container .product-view-wrap .product-option .total-box .sum .color-pink{font-size: 16px;padding-right: 5px;font-weight: 700;}
.sub-container .product-view-wrap .product-option .total-box .sum .color-pink .roboto{font-size: 28px;}
.sub-container .product-view-wrap .product-option .btn-box{margin-top:30px;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;justify-content: space-between;align-items: center;width: 100%;flex-wrap: wrap;}
.sub-container .product-view-wrap .product-option .select-box{margin-top: 20px;position: relative;}
.sub-container .product-view-wrap .product-option .select-box select{width:100%;border: 1px solid #c8c8c8;padding: 16px 20px;color: #999999;}
.sub-container .product-view-wrap .product-option .select-box::after{content: ''; background:url(../images/icon/ico_arrow_down.svg) left top no-repeat;display: inline-block;width: 20px;height: 20px;position: absolute;right: 20px;top: 15px;z-index: 99;}

/* TAB */
.sub-container .tab-wrap {position: relative;clear: both;margin-top: 100px;}
.sub-container .tab-wrap ul.tab-nav{ margin: 0;padding: 0;list-style: none;height: 70px;border-bottom: 1px solid #e6e6e6;border-top: 2px solid #707070;width: 100%;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;justify-content: space-around;align-items: center;}
.sub-container .tab-wrap ul.tab-nav li{font-size: 20px;color: #999999;}
.sub-container .tab-wrap ul.tab-nav li.on{font-weight: 700;color: #ffb2ca;border-bottom: 2px solid #ffb2ca;line-height: 68px;}
.sub-container .tab-wrap .tab_container{clear: both;width: 100%;margin-top: 40px;}
.sub-container .tab-wrap .tab_content{}

/*bottom-swiper*/
.sub-bottom-swiper {padding: 100px 0 40px;position: relative;}
.sub-bottom-swiper .tit{font-size: 35px;font-weight: 700;line-height: 1.54;}
.sub-bottom-swiper .swiper-container{margin-top: 30px;}
.sub-bottom-swiper .swiper-slide{width: 305px;}
.sub-bottom-swiper .swiper-slide img{width: 100%;}
.sub-bottom-swiper .swiper-slide .plp-box{margin: 20px 0 60px;}
.sub-bottom-swiper .swiper-slide .plp-box .name{font-size: 16px;color: #595959;line-height: 24px;margin-bottom: 14px;}
.sub-bottom-swiper .swiper-slide .plp-box .price{font-size: 12px;font-weight: 700;}
.sub-bottom-swiper .swiper-slide .plp-box .price .sale{font-size: 18px;}
.sub-bottom-swiper .swiper-slide .plp-box .price .origin{font-size: 14px;color: #c8c8c8;font-weight: 400;text-decoration: line-through;padding: 0 8px;}
.sub-bottom-swiper .swiper-slide .plp-box .price .percent{font-size: 20px;color: #ffb2ca;}
.sub-bottom-swiper .swiper-btn-wrap{position: absolute;top: 50%;width: 100%;}

/*mypage*/
.mypage{min-width:1280px;background-color: #f9f9f9;}
.mypage .member-info-wrap{padding: 50px 0 100px;}
.mypage .member-info-wrap .info-box{border-radius: 10px;border: solid 1px #e6e6e6;background-color: #ffffff;padding: 50px 0 50px 60px;}
.mypage .member-info-wrap .info-box ul{position: relative;display: inline-block;}
.mypage .member-info-wrap .info-box ul li{text-align: center;border-right: 1px solid #e6e6e6;width: 180px;height: 180px;float: left;}
.mypage .member-info-wrap .info-box ul li.member{width: 300px;font-size: 35px;line-height: 1.51;text-align: left;}
.mypage .member-info-wrap .info-box ul li.member .color-pink{font-weight: 500;}
.mypage .member-info-wrap .info-box ul li.member .btn-area{margin-top: 10px;}
.mypage .member-info-wrap .info-box ul li:last-child{border:none;}
.mypage .member-info-wrap .info-box ul li .tit{font-size: 14px;margin-top: 57px;}
.mypage .member-info-wrap .info-box ul li .number{margin-top: 10px;}
.mypage .member-info-wrap .info-box ul li .number > .color-pink{font-size: 30px;font-weight: 500;padding-right: 3px;}
.mypage .myinfo-wrap {position: relative;display: inline-block;width: 100%;vertical-align:middle;}
.mypage .myinfo-wrap .left-menu{width: 220px;float: left;margin-right: 60px;}
.mypage .myinfo-wrap .left-menu h2{font-size: 30px;font-weight: 700;line-height: 1.5;margin-bottom: 20px;}
.mypage .myinfo-wrap .left-menu .menu-box{margin-bottom: 30px; padding: 10px 20px;border-radius: 10px;border: solid 1px #e6e6e6;background-color: #ffffff;}
.mypage .myinfo-wrap .left-menu .menu-box ul li{line-height: 1.5;color: #595959;padding:13px 0;border-bottom: 1px solid #e6e6e6;}
.mypage .myinfo-wrap .left-menu .menu-box ul li:last-child{border: none;}
.mypage .myinfo-wrap .left-menu .menu-box ul li.on{color: #ffb2ca;}
.mypage .myinfo-wrap .right-box{margin-bottom: 130px;height: 880px;float: left;width: calc(100% - 280px);background-color: #ccc;  border-radius: 20px;}
.mypage .myinfo-wrap.type02{padding:50px 0 0;}
.mypage .myinfo-wrap.type02 .left-menu{}
.mypage .myinfo-wrap.type02 .right-box{padding-top:65px;margin:0;height:auto;background-color:transparent;border-radius:0;}

/*shopping*/
.mypage .shopping-wrap{padding-top: 50px;}
.mypage .shopping-wrap h2.tit{position: relative;font-size: 30px;font-weight: 700;line-height: 1.5;margin-bottom: 20px;}
.mypage .shopping-wrap h2.tit .btn{font-weight: 400;position: absolute;top: -5px;margin-left: 15px;}
.mypage .shopping-wrap h2.tit .check-box{font-weight: 400;font-size: 16px;position: absolute;top: 10px;padding-left: 20px;}
.mypage .shopping-wrap .order-box{margin-bottom: 30px; padding: 30px 40px 22px;border-radius: 10px;border: solid 1px #e6e6e6;background-color: #ffffff;}
.mypage .shopping-wrap .order-box table.order-info{width: 100%;border: 0;border-collapse: collapse;text-align: left;}
.mypage .shopping-wrap .order-box table.order-info td,
.mypage .shopping-wrap .order-box table.order-info th{padding: 18px 0;line-height: 1.56;color: #333333;border-bottom: 1px solid #e6e6e6;}
.mypage .shopping-wrap .order-box table.order-info th{padding-left: 10px;}
.mypage .shopping-wrap .order-box table.order-info tr:last-child td{border: none;}
.mypage .shopping-wrap .order-box table.order-info tr:last-child th{border: none;}
.mypage .shopping-wrap .order-box table.order-info.pay td{text-align: right;}
.check-box input[type="checkbox"] {display:none;}
.check-box input[type="checkbox"] + label {color:#333333;}
.check-box input[type="checkbox"] + label span.ico {display:inline-block;width:20px;height:20px;margin:-2px 10px 0 0;vertical-align:middle;background:url(../images/icon/ico_check.svg) left top no-repeat;cursor:pointer;}
.check-box input[type="checkbox"]:checked + label span.ico {background:url(../images/icon/ico_check_on.svg) left top no-repeat;}
.mypage .shopping-wrap .order-box.accordion-wrap{padding-bottom: 50px;}
.mypage .shopping-wrap .order-box.accordion-wrap .allcheck{position: relative;margin-top: 18px;}
.mypage .shopping-wrap .order-box.accordion-wrap .allcheck .accor-down{position: absolute;right: 20px;-webkit-transform:rotate(0deg);transform:rotate(0deg);transition-duration: 0.3s;top: 5px;}
.mypage .shopping-wrap .order-box.accordion-wrap .allcheck .accor-down.on{-webkit-transform:rotate(180deg);transform:rotate(180deg);transition-duration: 0.3s;}
.mypage .shopping-wrap .order-box .in-btn{margin-left: 10px;font-weight: 400;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;align-items: center;position: relative;border-bottom: solid 1px #e6e6e6;padding: 25px 0 25px 10px;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .img-area{width: 80px; height: 100px;margin-left: 20px;margin-right: 10px;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .img-area > img{width: 100%;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .product{width: 370px;padding: 0 50px 0 30px;line-height: 1.5;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .product .price{margin-top: 10px;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .option{width: 300px;padding: 0 20px;color: #999999;line-height: 1.5;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .sum{width: 120px;padding: 0 29px 0 0;text-align: right;font-weight: 500;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .del{right: 20px;position: absolute;}
.mypage .shopping-wrap .check-list li .btn-quantity{position: relative;height: 30px;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #fff;}
.mypage .shopping-wrap .check-list li .btn-quantity button.btn-minus{border-right: solid 1px #e6e6e6;background-color: transparent;cursor: pointer;position: relative;width: 30px;height: 100%;}
.mypage .shopping-wrap .check-list li .btn-quantity button.btn-minus::before{position: absolute;top: 50%;left: 50%;width: 10px;height: 1px;margin: 0 0 0 -5px;background-color: #707070;content: '';}
.mypage .shopping-wrap .check-list li .btn-quantity button.btn-plus{border-left: solid 1px #e6e6e6;background-color: transparent;cursor: pointer;position: relative;width: 30px;height: 100%;}
.mypage .shopping-wrap .check-list li .btn-quantity button.btn-plus::before{position: absolute;top: 50%;left: 50%;width: 11px;height: 1px;margin: 0 0 0 -5px;background-color: #707070;content: '';}
.mypage .shopping-wrap .check-list li .btn-quantity button.btn-plus::after{position: absolute;top: 50%;left: 50%;width: 1px;height: 11px;margin: -5px 0 0 0;background-color: #707070;content: '';}
.mypage .shopping-wrap .check-list li .btn-quantity input.input-num{width: 40px;height: 100%;font-weight: 500;text-align: center;}
.mypage .shopping-wrap .check-list li .option-change .btn-area{margin-top: 10px;}
.mypage .shopping-wrap .check-list li .option-change .btn-area .btn-sm{width: 100%;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box {padding: 30px 0 50px;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl dt{margin-right: 30px;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl dd .num{ font-size: 20px;font-weight: 500;margin-right: 3px;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl dd .total-num{ font-size: 28px;font-weight: 500;margin-right: 3px;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl dd+dd{margin: 0 20px;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl dd.delivery{position: relative;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl dd.delivery span.speech{position: absolute;left: -123px;bottom: -50px;background: url(../images/common/speech-bubble.png) left top no-repeat;width: 221px;height: 45px;padding: 22px 0 0;font-size: 12px;text-align: center;}
.mypage .shopping-wrap .order-box .ico-emark{text-decoration: underline;margin-left: 5px;}
.mypage .shopping-wrap .order-box .ico-emark::before{content: ''; background:url(../images/icon/ico_emark_pink.svg) left top no-repeat;height: 20px;display: inline-block;padding-left: 25px;vertical-align: sub;}
.mypage .shopping-wrap .order-box table.order-info td.address p+p{margin-top: 13px;}
.mypage .shopping-wrap .order-box table.order-info td.total .color-pink{font-size: 28px;font-weight: 700;margin-right: 5px;}
.mypage .shopping-wrap .order-box table.order-info td.total p+p{margin-top: 10px;}
.mypage .shopping-wrap .order-box .radio-box {position: relative;display: inline-block;width: calc(100% + 10px);margin-left: -5px;}
.mypage .shopping-wrap .order-box .radio-box ul li {width: calc(50% - 10px);float: left;margin: 0 5px;}
.mypage .shopping-wrap .order-box .radio-box input[type="radio"] {display:none;}
.mypage .shopping-wrap .order-box .radio-box input[type="radio"] + label span.ico {display:inline-block;width:18px;height:18px;margin:-2px 10px 0 0;vertical-align:middle;background:url(../images/icon/ico_radio.svg) left top no-repeat;cursor:pointer;}
.mypage .shopping-wrap .order-box .radio-box input[type="radio"] + label span.gray {color: #999999;font-size: 14px;padding-left: 5px;}
.mypage .shopping-wrap .order-box .radio-box input[type="radio"]:checked + label span.ico {background:url(../images/icon/ico_radio_on.svg) left top no-repeat;}
.mypage .shopping-wrap .order-box .radio-box input[type="radio"]:checked + label{border-color:#595959;}
.mypage .shopping-wrap .order-box .pay-select li{width: 100%;}
.mypage .shopping-wrap .order-box .pay-select li .card-list{margin: 18px 0;}
.mypage .shopping-wrap .order-box .pay-select li .card-list li{display: inline-block;width: 220px;margin-right: 15px;}
.mypage .shopping-wrap .order-box .pay-select li .card-list li > a{display: inline-block;width: 220px;height: 140px;background: #f5f9fc;border: 1px dashed #e6e6e6;border-radius: 10px;text-align: center;}
.mypage .shopping-wrap .order-box .pay-select li .card-list li > a > img{width: 100%;}
.mypage .shopping-wrap .order-box .pay-select li .card-list li > a > img.icon{width: auto; display: block;margin: 35px auto 10px;}
.mypage .shopping-wrap .order-box .pay-select li .card-list li > a > span{color: #595959;font-size: 14px;}
.mypage .shopping-wrap .order-box .pay-select li .card-list li .card-name{font-size: 14px;color: #595959;margin-top: 15px;}
.mypage .shopping-wrap .order-box .pay-select li.pay-area{padding: 20px 0;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
.mypage .shopping-wrap .order-box .pay-select li.pay-area .radio-box{width: 185px;}
.mypage .shopping-wrap .agree .agree-link{position: relative;margin-left: 10px;}
.mypage .shopping-wrap .agree .agree-link > img{position: absolute;top: 2px;}
.mypage .shopping-wrap .agree .btn-center{text-align: center;padding: 50px 0 130px;}

/* Content Search */
.cont-search-area{padding-bottom:20px;}
.cont-search-area .fl-left{}
.cont-search-area .fl-right{}
.cont-search-area .fl-right *{float:left;}
.cont-search-area .fl-right * + *{margin-left:5px;}
.cont-search-area .sch-input-wrap{overflow:hidden;position:relative;width:250px;height:40px;border-radius:5px;border:1px solid #e6e6e6;background-color:#fff;}
.cont-search-area .sch-input-wrap input{padding:0 50px 0 20px;width:100%;height:100%;background-color:transparent;outline:0;font-size:16px;color:#333;}
.cont-search-area .sch-input-wrap .btn-sch{overflow:hidden;position:absolute;right:0;top:0;width:50px;height:40px;}
.cont-search-area .sch-input-wrap .btn-sch span{position:relative;width:inherit;height:inherit;background:#fff url(../images/icon/ico_search.png) no-repeat center center;text-indent:-9999px;}

/* Pagination */
.pagination{padding:30px 0 65px;font-size:0;letter-spacing:0;text-align:center;}
.pagination a{display:inline-block;min-width:34px;height:34px;vertical-align:middle;}
.pagination a.btn-first{overflow:hidden;margin-right:5px;background:url(../images/icon/ico_first.svg) no-repeat left top;text-indent:-9999px;}
.pagination a.btn-last{overflow:hidden;margin-left:5px;background:url(../images/icon/ico_last.svg) no-repeat left top;text-indent:-9999px;}
.pagination span{font-size:0;letter-spacing:0;}
.pagination span a{font-size:14px;line-height:34px;color:#595959;font-family: 'Roboto', sans-serif;text-align:center;}
.pagination span a.active{color:#ffb2ca;font-weight:500;}
.pagination span a + a{margin-left:5px;}
.tab_container .pagination{padding-bottom:130px;}

/* Table List */
.tbl-wrap{border-top:2px solid #ffb2ca;border-bottom:1px solid #ffb2ca;}
.tbl-wrap table{width:100%;font-family: 'Noto Sans KR', sans-serif;font-size:16px;line-height:24px;table-layout:fixed;}
.tbl-list table{color:#595959;}
.tbl-list table thead th{height:70px;font-weight:400;}
.tbl-list table tbody td{height:71px;padding:0 18px;border-top:1px solid #e6e6e6;text-align:center;color:#595959;}
.tbl-list table tbody td.title{padding-left:30px;padding-right:30px;text-align:left;}
.tbl-list table tbody td.title a{overflow:hidden;position:relative;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;width:100%;max-height:48px;text-overflow:ellipsis;color:inherit;}
.tbl-list table tbody td.title a:hover, 
.tbl-list table tbody td.title a:focus{text-decoration:underline;}
.tbl-list table tbody td img{font-size:0;letter-spacing:0;margin-top:-5px;vertical-align:middle;}
.tbl-list table tbody td img + img{margin-left:2px;}
.tbl-list table tbody td img + .badge{margin-left:5px;}
.tbl-list table tbody .reply .title a{padding-left:26px;}
.tbl-list table tbody .reply .title a:before{content:'';display:block;position:absolute;left:0;top:2px;width:20px;height:20px;background:url(../images/icon/ico_reply.svg) no-repeat left top;}
.tbl-list table tbody .notice td{background-color:#f5f9fc;font-weight:500;color:#444;}
.tbl-list table tbody .notice td a{color:inherit;}
.tbl-list table tbody .badge{overflow:hidden;display:inline-block;width:39px;height:20px;margin:-5px 0 0 1px;line-height:22px;font-family: 'Roboto', sans-serif;text-align:center;font-weight:500;font-size:14px;color:#fff;border-radius:2px;vertical-align:middle;}
.tbl-list table tbody .badge.hit{background-color:#b8b2ff;}
.tbl-list table tbody .badge.new{background-color:#ffb2ca;}
.tbl-list table tbody .info{padding-left:5px;padding-right:5px;}
.tbl-list table tbody .prd-info{position:relative;height:60px;text-align:left;}
.tbl-list table tbody .prd-info a{display:block;position:relative;padding:6px 0 0 68px;height:inherit;}
.tbl-list table tbody .prd-info a img{position:absolute;left:0;top:0;width:60px;margin:0;height:inherit;}
.tbl-list table tbody .prd-info a span{overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;width:100%;max-height:48px;text-overflow:ellipsis;word-break:break-all;}

/* Table Write */
.tbl-write table{color:#333;}
.tbl-write table th, .tbl-write table td{height:71px;border-top:1px solid #e6e6e6;}
.tbl-write table tr:first-child th, .tbl-write table tr:first-child td{height:70px;border-top:0;}
.tbl-write table th{padding:15px 0 15px 30px;font-weight:500;text-align:left;}
.tbl-write table td{padding:15px 20px;}
.tbl-write table td input[type="text"],
.tbl-write table td input[type="password"]{padding:0 20px;height:40px;border-radius:5px;border:1px solid #e6e6e6;outline:0;font-size:16px;}
.tbl-write table td input::placeholder{color:#c8c8c8;}
.tbl-write table td.editor-area{padding:0;border:0;}
.tbl-write table td.editor-area > div{height:615px;border:1px solid #d5d4d5;text-align:center;line-height:615px;}
.tbl-write + .btn-wrap{margin-bottom:117px;}
.tbl-write .radio-wrap{display:inline-block;margin-top:-2px;vertical-align:top;}
.tbl-write .radio-wrap + .radio-wrap{margin-left:27px;}

.file-wrap{display:inline-block;position:relative;font-size:0;letter-spacing:0;vertical-align:middle;}
.file-wrap input[type="text"]{}
.file-wrap input[type="file"]{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;cursor:pointer;}
.file-wrap label{display:inline-block;margin-left:10px;width:106px;height:40px;line-height:40px;border-radius:5px;background-color:#828282;font-size:18px;color:#fff;text-align:center;cursor:pointer;}

/* Button Wrap */
.btn-wrap{margin-top:20px;}
.btn-wrap .btn + .btn{margin-left:4px;}

/* View */
.view-wrap{border-top:2px solid #ffb2ca;border-bottom:1px solid #ffb2ca;}
.view-wrap .view-hd{overflow:hidden;padding:48px 50px 49px;text-align:center;}
.view-wrap .view-hd strong{display:block;font-weight:400;font-size:28px;line-height:40px;letter-spacing:-0.7px;color:#333;;}
.view-wrap .view-hd ul{position:relative;left:-50%;float:right;margin-top:25px;font-size:16px;letter-spacing:-0.4px;color:#999;}
.view-wrap .view-hd ul li{position:relative;left:50%;float:left;padding-left:16px;margin-left:15px;}
.view-wrap .view-hd ul li:before{content:'';display:block;position:absolute;left:0;top:1px;width:1px;height:14px;background-color:#e6e6e6;}
.view-wrap .view-hd ul li:first-child{padding-left:0;margin-left:0;}
.view-wrap .view-hd ul li:first-child:before{display:none;}
.view-wrap .view-hd ul li em{margin-right:9px;font-weight:500;}
.view-wrap .view-hd ul li span{font-family: 'Roboto', sans-serif;}
.view-wrap .view-con{min-height:366px;padding:50px 50px 50px;font-size:18px;line-height:27px;letter-spacing:-0.45px;color:#717171;text-align:center;border-top:1px solid #e6e6e6;}

/* View Pagination */
.view-pagination{margin-top:40px;border-bottom:1px solid #e6e6e6;}
.view-pagination ul{}
.view-pagination ul li{overflow:hidden;position:relative;padding:27px 20px;height:71px;border-top:1px solid #e6e6e6;color:#e6e6e6;text-overflow:ellipsis;white-space:nowrap;}
.view-pagination ul li span{display:inline-block;position:relative;margin-right:39px;padding-right:31px;font-weight:500;font-size:16px;letter-spacing:-0.4px;color:#999;}
.view-pagination ul li span:after{content:'';display:block;position:absolute;right:0;top:0;width:20px;height:20px;background:url(../images/icon/ico_arrow_down20x20.svg) no-repeat left top;}
.view-pagination ul li:first-child span:after{top:-1px;background-image:url(../images/icon/ico_arrow_up20x20.svg)}
.view-pagination ul li a{font-weight:500;color:#595959;}
.mypage .view-pagination{margin-bottom:300px;}

/* 사용후기 */
.review-title{position:relative;padding-top:25px;}
.review-title h2{font-weight:700;font-size:30px;line-height:44px;color:#333;}
.review-title .select-wrap{position:absolute;right:0;bottom:0;width:158px;}
.review-list{margin-top:20px;border-top:1px solid #e6e6e6;}
.review-list .item{padding:33px 40px 30px;min-height:171px;border-bottom:1px solid #e6e6e6;}
.rl-top{}
.rl-top:after{content:'';display:block;clear:both;}
.rl-top .star-wrap{float:left;}
.rl-top .star-wrap .star{font-size:0;letter-spacing:0;}
.rl-top .star-wrap .star img{width:15px;height:15px;}
.rl-top .star-wrap .star img + img{margin-left:5px;}
.rl-top ul{float:left;margin-left:15px;font-size:14px;color:#999;}
.rl-top ul li{position:relative;float:left;padding-left:11px;margin-left:8px;}
.rl-top ul li span{font-family: 'Roboto', sans-serif;}
.rl-top ul li:before{content:'';display:block;position:absolute;left:0;top:2px;width:1px;height:12px;background-color:#e6e6e6;}
.rl-top ul li:first-child{padding-left:0;margin-left:0;}
.rl-top ul li:first-child:before{display:none;}
.rl-mid{padding:21px 0 0;font-size:14px;line-height:20px;color:#595959;}
.rl-mid p{}
.rl-mid .img-list{overflow:hidden;margin:15px 0 0;}
.rl-mid .img-list li{float:left;}
.rl-mid .img-list li + li{margin-left:10px;}
.rl-mid .img-list li img{width:130px;height:130px;}
.rl-btm{padding-top:30px;}
.rl-btm a{display:inline-block;overflow:hidden;position:relative;height:20px;line-height:20px;font-family: 'Roboto', sans-serif;font-size:15px;vertical-align:top;}
.rl-btm a span{font-weight:500;font-size:14px;}
.rl-btm a:before{content:'';display:block;position:absolute;left:0;top:0;width:20px;height:20px;}
.rl-btm a.btn-good{padding-left:23px;}
.rl-btm a.btn-good:before{background:url(../images/icon/ico_smile.svg) no-repeat left top;}
.rl-btm a.btn-per{margin-left:11px;padding-left:23px;}
.rl-btm a.btn-per:before{background:url(../images/icon/ico_paper.svg) no-repeat left top;}
