@charset "UTF-8";

/* content */
.sub-container{min-width: 1280px;width: 1280px;margin: 0 auto;}
.sub-container .breadcrumbs{margin-top: 20px;}
.sub-container .breadcrumbs ul li{display: inline-block;color: #595959;font-size: 13px;line-height: 2.16;padding-right: 5px;}
.sub-container .breadcrumbs ul li.home{background: url(../images/icon/ico_home.svg) no-repeat left center;padding-left: 16.5px;}
.sub-container .breadcrumbs ul li::after{content: '';display: inline-block;background: url(../images/icon/ico_arrow-right-s.svg) no-repeat left calc(50% - 1px);width: 15px;height: 15px;vertical-align: middle;margin-left: 5px;}
.sub-container .breadcrumbs ul li:last-child:after{display: none;}
.sub-container .product-view-wrap{margin-top: 70px;}
.sub-container .product-view-wrap::after{content: '';display: block;clear: both;}
.sub-container .product-view-wrap .product-view{width: 540px;float: left;}
.sub-container .product-view-wrap .product-view img{width:100%;}
.sub-container .product-view-wrap{margin-top: 70px;}
.sub-container .product-view-wrap .product-option{float: left;margin-left: 90px;width: 650px;}
.sub-container .product-view-wrap .product-option .name-box{position: relative;}
.sub-container .product-view-wrap .product-option .name-box .name{font-size: 35px;line-height: 1.54;padding-right: 80px;}
.sub-container .product-view-wrap .product-option .name-box .ico-box{font-size: 0;text-indent: -999999px;position: absolute;top: 11px;right: 0;}
.sub-container .product-view-wrap .product-option .name-box .ico-box .ico-heart{background: url(../images/icon/ico_heart.svg) no-repeat left center;display: block;width: 30px;height: 30px;float: left;}
.sub-container .product-view-wrap .product-option .name-box .ico-box .ico-heart.on{background: url(../images/icon/ico_heart_on.svg) no-repeat left center;display: block;width: 30px;height: 30px;float: left;}
.sub-container .product-view-wrap .product-option .name-box .ico-box .ico-share{background: url(../images/icon/ico_share.svg) no-repeat left center;display: block;width: 30px;height: 30px;float: left;}
.sub-container .product-view-wrap .product-option .name-box .ico-box a+a{margin-left: 15px;}
.sub-container .product-view-wrap .product-option .summery{margin-top:5px;color: #999999;font-size: 16px;line-height: 1.3;}
.sub-container .product-view-wrap .product-option .star-wrap{margin-top:20px;}
.sub-container .product-view-wrap .product-option .star-wrap .star{float: left;margin-right: 15px;margin-top: 2px;}
.sub-container .product-view-wrap .product-option .star-wrap .star img{float: left;}
.sub-container .product-view-wrap .product-option .star-wrap .star img+img{margin-left: 5px;}
.sub-container .product-view-wrap .product-option .star-wrap .count > span{font-weight: 700;padding-left: 5px;}
.sub-container .product-view-wrap .product-option .price-wrap{margin-top: 30px;font-weight: 700;font-size: 20px;}
.sub-container .product-view-wrap .product-option .price-wrap .parcent{color: #ffa9c2;font-size: 30px;font-weight: 700;}
.sub-container .product-view-wrap .product-option .price-wrap .price{font-size: 30px;font-weight: 700;margin-left: 10px;}
.sub-container .product-view-wrap .product-option .price-wrap .sale{margin-left: 22px;font-weight: 400;font-size: 20px;color: #c8c8c8;text-decoration: line-through;}
.sub-container .product-view-wrap .product-option .product-info{border-top: solid 1px #707070;margin: 21px 0 20px;padding: 10px 0 25px;border-bottom: solid 1px #e6e6e6;}
.sub-container .product-view-wrap .product-option .product-info dl dt{float: left;width: 60px;padding-top: 15px;line-height: 1.3;}
.sub-container .product-view-wrap .product-option .product-info dl dd{display: inline-block;width: calc(100% - 60px);text-align: right;padding-top: 15px;line-height: 1.3;color: #595959;}
.sub-container .product-view-wrap .product-option .radio-box {position: relative;display: inline-block;width: calc(100% + 10px);margin-left: -5px;}
.sub-container .product-view-wrap .product-option .radio-box ul li {width: calc(50% - 10px);float: left;margin: 0 5px;}
.sub-container .product-view-wrap .product-option .radio-box input[type="radio"] {display:none;}
.sub-container .product-view-wrap .product-option .radio-box input[type="radio"] + label {font-weight: 500;text-align: center;display: block;padding:18px 10px;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #ffffff;}
.sub-container .product-view-wrap .product-option .radio-box input[type="radio"] + label span.ico {display:inline-block;width:18px;height:18px;margin:-2px 10px 0 0;vertical-align:middle;background:url(../images/icon/ico_radio.svg) left top no-repeat;cursor:pointer;}
.sub-container .product-view-wrap .product-option .radio-box input[type="radio"] + label span.gray {color: #999999;font-size: 14px;padding-left: 5px;}
.sub-container .product-view-wrap .product-option .radio-box input[type="radio"]:checked + label span.ico {background:url(../images/icon/ico_radio_on.svg) left top no-repeat;}
.sub-container .product-view-wrap .product-option .radio-box input[type="radio"]:checked + label{border-color:#595959;}
.sub-container .product-view-wrap .product-option .quantity-box {margin-top: 20px;}
.sub-container .product-view-wrap .product-option .quantity-box .item{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;width: 100%;padding: 21px 20px;background-color: #f5f9fc;justify-content: space-between;align-items: center;}
.sub-container .product-view-wrap .product-option .quantity-box .item .txt{width: 60%;line-height: 1.5;}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity{position: relative;height: 30px;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #fff;}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity button.btn-minus{border-right: solid 1px #e6e6e6;background-color: transparent;cursor: pointer;position: relative;width: 30px;height: 100%;}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity button.btn-minus::before{position: absolute;top: 50%;left: 50%;width: 10px;height: 1px;margin: 0 0 0 -5px;background-color: #707070;content: '';}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity button.btn-plus{border-left: solid 1px #e6e6e6;background-color: transparent;cursor: pointer;position: relative;width: 30px;height: 100%;}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity button.btn-plus::before{position: absolute;top: 50%;left: 50%;width: 11px;height: 1px;margin: 0 0 0 -5px;background-color: #707070;content: '';}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity button.btn-plus::after{position: absolute;top: 50%;left: 50%;width: 1px;height: 11px;margin: -5px 0 0 0;background-color: #707070;content: '';}
.sub-container .product-view-wrap .product-option .quantity-box .item .btn-quantity input.input-num{width: 40px;height: 100%;font-weight: 500;text-align: center;}
.sub-container .product-view-wrap .product-option .quantity-box .item .price{font-weight: 500;text-align: right;width: 90px;}
.sub-container .product-view-wrap .product-option .quantity-box .item a.del{margin-left: 20px;}
.sub-container .product-view-wrap .product-option .total-box{margin-top:20px;padding-top:33px;border-top: solid 1px #e6e6e6;font-size: 20px;line-height: 1.45;}
.sub-container .product-view-wrap .product-option .total-box .sum{float: right;margin-top: -5px;}
.sub-container .product-view-wrap .product-option .total-box .sum .color-pink{font-size: 16px;padding-right: 5px;font-weight: 700;}
.sub-container .product-view-wrap .product-option .total-box .sum .color-pink .roboto{font-size: 28px;}
.sub-container .product-view-wrap .product-option .btn-box{margin-top:30px;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;justify-content: space-between;align-items: center;width: 100%;flex-wrap: wrap;}
.sub-container .product-view-wrap .product-option .select-box{margin-top: 20px;position: relative;}
.sub-container .product-view-wrap .product-option .select-box select{width:100%;border: 1px solid #c8c8c8;padding: 16px 20px;color: #999999;}
.sub-container .product-view-wrap .product-option .select-box::after{content: ''; background:url(../images/icon/ico_arrow_down.svg) left top no-repeat;display: inline-block;width: 20px;height: 20px;position: absolute;right: 20px;top: 15px;z-index: 99;}

/* TAB */
.sub-container .tab-wrap {position: relative;clear: both;margin-top: 100px;}
.sub-container .tab-wrap ul.tab-nav{ margin: 0;padding: 0;list-style: none;height: 70px;border-bottom: 1px solid #e6e6e6;border-top: 2px solid #707070;width: 100%;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;justify-content: space-around;align-items: center;}
.sub-container .tab-wrap ul.tab-nav li{font-size: 20px;color: #999999;}
.sub-container .tab-wrap ul.tab-nav li.on{font-weight: 700;color: #ffb2ca;border-bottom: 2px solid #ffb2ca;line-height: 68px;}
.sub-container .tab-wrap .tab_container{clear: both;width: 100%;margin-top: 40px;}

/*bottom-swiper*/
.sub-bottom-swiper {padding: 100px 0 40px;position: relative;}
.sub-bottom-swiper .tit{font-size: 35px;font-weight: 700;line-height: 1.54;}
.sub-bottom-swiper .swiper-container{margin-top: 30px;}
.sub-bottom-swiper .swiper-slide{width: 305px;}
.sub-bottom-swiper .swiper-slide img{width: 100%;}
.sub-bottom-swiper .swiper-slide .plp-box{margin: 20px 0 60px;}
.sub-bottom-swiper .swiper-slide .plp-box .name{font-size: 16px;color: #595959;line-height: 24px;margin-bottom: 14px;}
.sub-bottom-swiper .swiper-slide .plp-box .price{font-size: 12px;font-weight: 700;}
.sub-bottom-swiper .swiper-slide .plp-box .price .sale{font-size: 18px;}
.sub-bottom-swiper .swiper-slide .plp-box .price .origin{font-size: 14px;color: #c8c8c8;font-weight: 400;text-decoration: line-through;padding: 0 8px;}
.sub-bottom-swiper .swiper-slide .plp-box .price .percent{font-size: 20px;color: #ffb2ca;}
.sub-bottom-swiper .swiper-btn-wrap{position: absolute;top: 50%;width: 100%;}

/*mypage*/
.mypage{background-color: #f9f9f9;}
.mypage .member-info-wrap{padding: 50px 0 100px;}
.mypage .member-info-wrap .info-box{border-radius: 10px;border: solid 1px #e6e6e6;background-color: #ffffff;padding: 50px 0 50px 60px;}
.mypage .member-info-wrap .info-box ul{position: relative;display: inline-block;}
.mypage .member-info-wrap .info-box ul li{text-align: center;border-right: 1px solid #e6e6e6;width: 180px;height: 180px;float: left;}
.mypage .member-info-wrap .info-box ul li.member{width: 300px;font-size: 35px;line-height: 1.51;text-align: left;}
.mypage .member-info-wrap .info-box ul li.member .color-pink{font-weight: 500;}
.mypage .member-info-wrap .info-box ul li.member .btn-area{margin-top: 10px;}
.mypage .member-info-wrap .info-box ul li:last-child{border:none;}
.mypage .member-info-wrap .info-box ul li .tit{font-size: 14px;margin-top: 57px;}
.mypage .member-info-wrap .info-box ul li .number{margin-top: 10px;}
.mypage .member-info-wrap .info-box ul li .number > .color-pink{font-size: 30px;font-weight: 500;padding-right: 3px;}
.mypage .myinfo-wrap {position: relative;display: inline-block;width: 100%;}
.mypage .myinfo-wrap .left-menu{width: 220px;float: left;margin-right: 60px;}
.mypage .myinfo-wrap .left-menu h2{font-size: 30px;font-weight: 700;line-height: 1.5;margin-bottom: 20px;}
.mypage .myinfo-wrap .left-menu .menu-box{margin-bottom: 30px; padding: 10px 20px;border-radius: 10px;border: solid 1px #e6e6e6;background-color: #ffffff;}
.mypage .myinfo-wrap .left-menu .menu-box ul li{line-height: 1.5;color: #595959;padding:13px 0;border-bottom: 1px solid #e6e6e6;}
.mypage .myinfo-wrap .left-menu .menu-box ul li:last-child{border: none;}
.mypage .myinfo-wrap .left-menu .menu-box ul li.on{color: #ffb2ca;}
.mypage .myinfo-wrap .right-box{margin-bottom: 130px;height: 880px;float: left;width: calc(100% - 280px);background-color: #ccc;  border-radius: 20px;}

/*shopping*/
.mypage .shopping-wrap{padding-top: 50px;}
.mypage .shopping-wrap h2.tit{position: relative;font-size: 30px;font-weight: 700;line-height: 1.5;margin-bottom: 20px;}
.mypage .shopping-wrap h2.tit .btn{font-weight: 400;position: absolute;top: -5px;margin-left: 15px;}
.mypage .shopping-wrap h2.tit .check-box{font-weight: 400;font-size: 16px;position: absolute;top: 10px;padding-left: 20px;}
.mypage .shopping-wrap .order-box{margin-bottom: 30px; padding: 30px 40px 22px;border-radius: 10px;border: solid 1px #e6e6e6;background-color: #ffffff;}
.mypage .shopping-wrap .order-box table.order-info{width: 100%;border: 0;border-collapse: collapse;text-align: left;}
.mypage .shopping-wrap .order-box table.order-info td,
.mypage .shopping-wrap .order-box table.order-info th{padding: 18px 0;line-height: 1.56;color: #333333;border-bottom: 1px solid #e6e6e6;}
.mypage .shopping-wrap .order-box table.order-info th{padding-left: 10px;}
.mypage .shopping-wrap .order-box table.order-info tr:last-child td{border: none;}
.mypage .shopping-wrap .order-box table.order-info tr:last-child th{border: none;}
.mypage .shopping-wrap .order-box table.order-info.pay td{text-align: right;}
.check-box input[type="checkbox"] {display:none;}
.check-box input[type="checkbox"] + label {color:#333333;}
.check-box input[type="checkbox"] + label span.ico {display:inline-block;width:20px;height:20px;margin:-2px 10px 0 0;vertical-align:middle;background:url(../images/icon/ico_check.svg) left top no-repeat;cursor:pointer;}
.check-box input[type="checkbox"]:checked + label span.ico {background:url(../images/icon/ico_check_on.svg) left top no-repeat;}
.mypage .shopping-wrap .order-box.accordion-wrap{padding-bottom: 50px;}
.mypage .shopping-wrap .order-box.accordion-wrap .allcheck{position: relative;margin-top: 18px;}
.mypage .shopping-wrap .order-box.accordion-wrap .allcheck .accor-down{position: absolute;right: 20px;-webkit-transform:rotate(0deg);transform:rotate(0deg);transition-duration: 0.3s;top: 5px;}
.mypage .shopping-wrap .order-box.accordion-wrap .allcheck .accor-down.on{-webkit-transform:rotate(180deg);transform:rotate(180deg);transition-duration: 0.3s;}
.mypage .shopping-wrap .order-box .in-btn{margin-left: 10px;font-weight: 400;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;align-items: center;position: relative;border-bottom: solid 1px #e6e6e6;padding: 25px 0 25px 10px;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .img-area{width: 80px; height: 100px;margin-left: 20px;margin-right: 10px;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .img-area > img{width: 100%;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .product{width: 370px;padding: 0 50px 0 30px;line-height: 1.5;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .product .price{margin-top: 10px;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .option{width: 300px;padding: 0 20px;color: #999999;line-height: 1.5;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .sum{width: 120px;padding: 0 29px 0 0;text-align: right;font-weight: 500;}
.mypage .shopping-wrap .accordion-wrap .panel .check-list li .del{right: 20px;position: absolute;}
.mypage .shopping-wrap .check-list li .btn-quantity{position: relative;height: 30px;border-radius: 5px;border: solid 1px #e6e6e6;background-color: #fff;}
.mypage .shopping-wrap .check-list li .btn-quantity button.btn-minus{border-right: solid 1px #e6e6e6;background-color: transparent;cursor: pointer;position: relative;width: 30px;height: 100%;}
.mypage .shopping-wrap .check-list li .btn-quantity button.btn-minus::before{position: absolute;top: 50%;left: 50%;width: 10px;height: 1px;margin: 0 0 0 -5px;background-color: #707070;content: '';}
.mypage .shopping-wrap .check-list li .btn-quantity button.btn-plus{border-left: solid 1px #e6e6e6;background-color: transparent;cursor: pointer;position: relative;width: 30px;height: 100%;}
.mypage .shopping-wrap .check-list li .btn-quantity button.btn-plus::before{position: absolute;top: 50%;left: 50%;width: 11px;height: 1px;margin: 0 0 0 -5px;background-color: #707070;content: '';}
.mypage .shopping-wrap .check-list li .btn-quantity button.btn-plus::after{position: absolute;top: 50%;left: 50%;width: 1px;height: 11px;margin: -5px 0 0 0;background-color: #707070;content: '';}
.mypage .shopping-wrap .check-list li .btn-quantity input.input-num{width: 40px;height: 100%;font-weight: 500;text-align: center;}
.mypage .shopping-wrap .check-list li .option-change .btn-area{margin-top: 10px;}
.mypage .shopping-wrap .check-list li .option-change .btn-area .btn-sm{width: 100%;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box {padding: 30px 0 50px;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl dt{margin-right: 30px;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl dd .num{ font-size: 20px;font-weight: 500;margin-right: 3px;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl dd .total-num{ font-size: 28px;font-weight: 500;margin-right: 3px;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl dd+dd{margin: 0 20px;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl dd.delivery{position: relative;}
.mypage .shopping-wrap .order-box.accordion-wrap .total-box dl dd.delivery span.speech{position: absolute;left: -123px;bottom: -50px;background: url(../images/common/speech-bubble.png) left top no-repeat;width: 221px;height: 45px;padding: 22px 0 0;font-size: 12px;text-align: center;}
.mypage .shopping-wrap .order-box .ico-emark{text-decoration: underline;margin-left: 5px;}
.mypage .shopping-wrap .order-box .ico-emark::before{content: ''; background:url(../images/icon/ico_emark_pink.svg) left top no-repeat;height: 20px;display: inline-block;padding-left: 25px;vertical-align: sub;}
.mypage .shopping-wrap .order-box table.order-info td.address p+p{margin-top: 13px;}
.mypage .shopping-wrap .order-box table.order-info td.total .color-pink{font-size: 28px;font-weight: 700;margin-right: 5px;}
.mypage .shopping-wrap .order-box table.order-info td.total p+p{margin-top: 10px;}
.mypage .shopping-wrap .order-box .radio-box {position: relative;display: inline-block;width: calc(100% + 10px);margin-left: -5px;}
.mypage .shopping-wrap .order-box .radio-box ul li {width: calc(50% - 10px);float: left;margin: 0 5px;}
.mypage .shopping-wrap .order-box .radio-box input[type="radio"] {display:none;}
.mypage .shopping-wrap .order-box .radio-box input[type="radio"] + label span.ico {display:inline-block;width:18px;height:18px;margin:-2px 10px 0 0;vertical-align:middle;background:url(../images/icon/ico_radio.svg) left top no-repeat;cursor:pointer;}
.mypage .shopping-wrap .order-box .radio-box input[type="radio"] + label span.gray {color: #999999;font-size: 14px;padding-left: 5px;}
.mypage .shopping-wrap .order-box .radio-box input[type="radio"]:checked + label span.ico {background:url(../images/icon/ico_radio_on.svg) left top no-repeat;}
.mypage .shopping-wrap .order-box .radio-box input[type="radio"]:checked + label{border-color:#595959;}
.mypage .shopping-wrap .order-box .pay-select li{width: 100%;}
.mypage .shopping-wrap .order-box .pay-select li .card-list{margin: 18px 0;}
.mypage .shopping-wrap .order-box .pay-select li .card-list li{display: inline-block;width: 220px;margin-right: 15px;}
.mypage .shopping-wrap .order-box .pay-select li .card-list li > a{display: inline-block;width: 220px;height: 140px;background: #f5f9fc;border: 1px dashed #e6e6e6;border-radius: 10px;text-align: center;}
.mypage .shopping-wrap .order-box .pay-select li .card-list li > a > img{width: 100%;}
.mypage .shopping-wrap .order-box .pay-select li .card-list li > a > img.icon{width: auto; display: block;margin: 35px auto 10px;}
.mypage .shopping-wrap .order-box .pay-select li .card-list li > a > span{color: #595959;font-size: 14px;}
.mypage .shopping-wrap .order-box .pay-select li .card-list li .card-name{font-size: 14px;color: #595959;margin-top: 15px;}
.mypage .shopping-wrap .order-box .pay-select li.pay-area{padding: 20px 0;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
.mypage .shopping-wrap .order-box .pay-select li.pay-area .radio-box{width: 185px;}
.mypage .shopping-wrap .agree .agree-link{position: relative;margin-left: 10px;}
.mypage .shopping-wrap .agree .agree-link > img{position: absolute;top: 2px;}
.mypage .shopping-wrap .agree .btn-center{text-align: center;padding: 50px 0 130px;}