@charset "UTF-8";

/********* Main *********/
.contents{min-width:1280px;/*width: 1280px;margin: 100px auto 0;*/}
.contents .inner {width:1280px;margin: 0 auto;}
.bg-skyblue{overflow:hidden;background-color: #f5f9fc;}
.bg-skyblue .inner{padding-top:86px;height:840px;}
.bg-pink{overflow:hidden;position:relative;background-color:#fff5f8;}
.bg-pink .inner{padding-top:140px;height:750px;}
.inner + .bg-pink{margin-top:100px;}

/* Visual Swiper */
.visual{min-width: 1280px;}
.visual .swiper-slide img{width: 100%;}

/* Banner */
.banner-area{padding-top:100px;}
.banner-area a{display:block;}
.banner-area + .main-tit{margin-top:100px;}

/* Title */
h2.main-tit{font-size:40px;line-height:59px;padding:0 0 10px;}
h2.main-tit a{background:url(../images/icon/ico_arrow-right.svg) no-repeat right calc(50% + 1px);padding-right: 40px;}
.desc{font-size: 16px;line-height:24px;color: #999999;}

/* List Type */
.plp-wrap{position: relative;margin: 30px 0 43px;}
.plp-wrap .plp-list{ display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;flex-wrap: wrap;justify-content: space-between;align-content: space-between;flex: 1 0 0;}
.plp-wrap .plp-list li{width: 306px;}
.plp-wrap .plp-list li .plp-box{margin: 20px 0 60px;}
.plp-wrap .plp-list li .plp-box .name{font-size: 16px;color: #595959;line-height: 24px;margin-bottom: 14px;}
.plp-wrap .plp-list li .plp-box .price{font-size: 12px;font-weight: 700;}
.plp-wrap .plp-list li .plp-box .price .sale{font-size: 18px;}
.plp-wrap .plp-list li .plp-box .price .origin{font-size: 14px;color: #c8c8c8;font-weight: 400;text-decoration: line-through;padding: 0 8px;}
.plp-wrap .plp-list li .plp-box .price .percent{font-size: 20px;color: #ffb2ca;}
.plp-wrap .plp-list li.disabled{opacity: 0.2;}
.new-product{position:relative;margin:30px 0 0;}
.new-product .swiper-container{overflow:visible;}
.new-product .swiper-slide{width: 270px;margin-right:20px;opacity:0.2;}
.new-product .swiper-slide a > span{display:block;position:relative;}
.new-product .swiper-slide .badge{display:block;position:absolute;left:10px;top:10px;width:44px;height:21px;background-color:#ffb2ca;text-align:center;font-family: 'Roboto', sans-serif !important;font-size:12px;line-height:21px;color:#fff;}
.new-product .swiper-slide img{width:100%;height:336px;}
.new-product .swiper-slide.swiper-slide-active{width: 368px;margin-right:62px;opacity:1;}
.new-product .swiper-slide.swiper-slide-active img{height:458px;}
.new-product .swiper-slide.swiper-slide-active + .swiper-slide,
.new-product .swiper-slide.swiper-slide-active + .swiper-slide + .swiper-slide,
.new-product .swiper-slide.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide{opacity:1;}
.new-product .swiper-slide:last-child{margin-right:0;}
.new-product .plp-box{padding:10px 0 0;}
.new-product .plp-box .name{font-size:16px;line-height:25px;color:#595959;}
.new-product .plp-box .price{padding:13px 0 0;}
.new-product .plp-box .price .sale{display:inline-block;margin-right:7px;font-weight:bold;font-size:12px;color:#333;vertical-align:middle;}
.new-product .plp-box .price .sale span{font-size:18px;}
.new-product .plp-box .price .origin{display:inline-block;font-size:14px;color:#c8c8c8;text-decoration:line-through;vertical-align:middle;}
.new-product .swiper-slide-active .badge{left:20px;top:20px;width:61px;height:28px;font-size:16px;line-height:28px;}
.new-product .swiper-slide-active .plp-box{padding:20px 0 0;}
.new-product .swiper-slide-active .plp-box .price{padding:11px 0 0;}
.new-product .swiper-slide-active .plp-box .price .sale{font-size:20px;line-height:33px;}
.new-product .swiper-slide-active .plp-box .price .sale span{font-size:28px;}
.new-product .swiper-slide-active .plp-box .price .origin{font-size:20px;line-height:29px;}

.best-list-wrap{margin:30px -5px 0;}
.best-list-wrap ul{overflow:hidden;}
.best-list-wrap ul li{float:left;margin:0 5px;width:260px;height:430px;}
.best-list-wrap ul li.first{width:470px;height:874px;}
.best-list-wrap ul li:nth-child(5), .best-list-wrap ul li:nth-child(6), .best-list-wrap ul li:nth-child(7){margin-top:14px;}
.best-list-wrap ul li a{display:block;width:100%;height:100%;border:1px solid #e6e6e6;}
.best-list-wrap ul li a > span{display:block;position:relative;margin:-1px -1px 0;}
.best-list-wrap ul li a .badge{display:block;position:absolute;left:15px;top:10px;width:50px;height:30px;background-color:#ffb2ca;text-align:center;font-family: 'Roboto', sans-serif !important;font-size:25px;line-height:30px;color:#fff;}
.best-list-wrap ul li a > div{padding:10px 20px 0;}
.best-list-wrap ul li .name{overflow:hidden;max-height:48px;font-size:16px;line-height:24px;color:#595959;}
.best-list-wrap ul li .price{padding-top:9px;}
.best-list-wrap ul li .price .sale{display:inline-block;margin-right:7px;font-weight:bold;font-size:12px;vertical-align:middle;}
.best-list-wrap ul li .price .sale span{font-size:18px;}
.best-list-wrap ul li .price .origin{display:inline-block;margin-right:7px;font-size:14px;color:#c8c8c8;text-decoration:line-through;vertical-align:middle;}
.best-list-wrap ul li .price .percent{display:inline-block;font-weight:bold;font-size:20px;color:#ffb2ca;vertical-align:middle;}
.best-list-wrap ul li.first .badge{width:60px;height:40px;left:25px;top:20px;font-size:30px;line-height:40px;}
.best-list-wrap ul li.first a > div{padding:30px 30px 0;}
.best-list-wrap ul li.first .name{max-height:88px;font-size:30px;line-height:44px;}
.best-list-wrap ul li.first .price{position:relative;margin-top:20px;padding-top:42px;}
.best-list-wrap ul li.first .price .sale{margin-right:6px;font-size:24px;line-height:49px;vertical-align:baseline;}
.best-list-wrap ul li.first .price .sale span{font-size:42px;}
.best-list-wrap ul li.first .price .origin{position:absolute;left:0;top:0;margin-right:0;font-weight:400;font-size:22px;line-height:33px;}
.best-list-wrap ul li.first .price .percent{font-weight:bold;font-size:25px;line-height:29px;vertical-align:baseline;}

.recipe-wrap{position:relative;}
.recipe-wrap:after{content:'';display:block;clear:both;}
.recipe-wrap .left-side{width:388px;}
/* .recipe-wrap .right-side{width:calc(100% - 388px);} */
.recipe{position:absolute;left:388px;/*right:0;*/right:calc(((100vw - 1280px) / 2) * -1);top:141px;min-width:892px;/*width:63.125%;*/}
.recipe .swiper-container{padding-bottom:50px;}
.recipe .swiper-slide{width:500px;}
.recipe .swiper-slide a{display:block;position:relative;border-radius:20px;}
.recipe .swiper-slide a:after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;border-radius:20px;background:#40151f;opacity:0.3;}
.recipe .swiper-slide.swiper-slide-active a{/*box-shadow:10px 10px 20px rgba(255, 178,202, 0.5);*/box-shadow:5px 5px 20px 0 rgba(188, 43, 97, 0.2);}
.recipe .swiper-slide.swiper-slide-active a:after{border:3px solid #ffb2ca;background:transparent;opacity:1;}

.recipe-info{padding-top:66px;}
.recipe-info .name{display:block;font-weight:500;font-size:20px;line-height:27px;color:#595959;}
.recipe-info .price{padding-top:13px;}
.recipe-info .price .origin{display:block;font-size:18px;line-height:24px;color:#595959;text-decoration:line-through;}
.recipe-info .price .sale{display:block;font-weight:bold;font-size:22px;line-height:47px;color:#ffb2ca;}
.recipe-info .price .sale span{font-size:40px;}

.recipe-control{position:relative;margin-top:24px;width:140px;height:60px;}
.recipe-control .swiper-button-next,
.recipe-control .swiper-button-prev{top:0;transform:none;}
.recipe-control .swiper-button-next{right:0 !important;}
.recipe-control .swiper-button-prev{left:0 !important;}

.recipe-pagination{position:relative;margin-top:34px;width:100%;text-align:center;}
.recipe-pagination .swiper-pagination{width:100%;}
.recipe-pagination .swiper-pagination-bullet{width:8px;height:8px;margin:0 5px;background-color:#c8c8c8;opacity:1;vertical-align:middle;}
.recipe-pagination .swiper-pagination-bullet-active{width:10px;height:10px;background-color:#ffb2ca;}

/* 20210506 추가 */
.visual .swiper-button-prev,
.visual .swiper-button-next{top:300px;}
.visual .swiper-button-prev{left:50%;transform:translate(-760px, 0);}
.visual .swiper-button-next{right:50%;transform:translate(760px, 0);}
/* //20210506 추가 */

/* 20210512 추가 */
.plp-wrap .plp-list li{position:relative;}
.plp-wrap .plp-list li .btn-add-cart{display:none;position:absolute;right:20px;top:315px;width:45px;height:45px;z-index:5;}
.plp-wrap .plp-list li .btn-add-cart span{display:block;overflow:hidden;width:inherit;height:inherit;text-indent:-9999px;background:url(../images/icon/ico_cart02.svg) no-repeat left top;}
.plp-wrap .plp-list li:hover .btn-add-cart, .plp-wrap .plp-list li:focus .btn-add-cart{display:block;}
.new-product .swiper-slide .btn-add-cart{display:none;position:absolute;right:20px;top:271px;width:45px;height:45px;z-index:5;}
.new-product .swiper-slide .btn-add-cart span{display:block;overflow:hidden;width:inherit;height:inherit;text-indent:-9999px;background:url(../images/icon/ico_cart02.svg) no-repeat left top;}
.new-product .swiper-slide:hover .btn-add-cart, .new-product .swiper-slide:focus .btn-add-cart{display:block;}
.new-product .swiper-slide.swiper-slide-active .btn-add-cart{top:393px;}
.best-list-wrap ul li{position:relative;}
.best-list-wrap ul li .btn-add-cart{display:none;position:absolute;right:20px;top:260px;width:45px;height:45px;z-index:5;}
.best-list-wrap ul li .btn-add-cart span{display:block;overflow:hidden;width:inherit;height:inherit;text-indent:-9999px;background:url(../images/icon/ico_cart02.svg) no-repeat left top;}
.best-list-wrap ul li:hover .btn-add-cart, .best-list-wrap ul li:focus .btn-add-cart{display:block;}
.best-list-wrap ul li.first .btn-add-cart{top:522px;}


/* //20210512 추가 */