@charset "UTF-8";

/* Wrapper */
#wrap{}

/* Header */
#header{background-color:#fff;}
#header .inner{position:relative;padding-top:60px;height:102px;}
#header .logo{position:absolute;left:50%;top:6px;transform:translate(-50%, 0);}
#header .logo a{display:block;width:187px;height:48px;}
#header .cart{position:absolute;right:14px;top:10px;}
#header .cart a{display:block;overflow:hidden;position:relative;padding:10px;text-indent:-9999px;}
#header .cart a span{display:block;position:relative;width:20px;height:20px;}
#header .cart a span:after{content:'';display:block;position:absolute;left:0;top:0;width:20px;height:20px;background:url(../images/icons/ico_cart.svg) no-repeat left top;background-size:100%;}
#header .cart > span{position:absolute;right:6px;top:9px;width:12px;height:12px;border-radius:50%;background-color:#ffb2ca;font-family:'Roboto', sans-serif;font-size:10px;color:#fff;text-align:center;line-height:13px;}
#header .tab-wrap{height:42px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;padding:0 18px;}
#header .tab-wrap ul{display:flex;}
#header .tab-wrap ul li{flex:1 2 auto;text-align:center;font-size:15px;line-height:22px;color:#333;}
#header .tab-wrap ul li a{display:flex;height:40px;color:#333;align-items:center;justify-content:center;}

/* Footer */
#footer{background-color:#fff;}
#footer .inner{padding:20px 20px 0;}
.ft_info{display:table;width:100%;table-layout:fixed;}
.ft_info .left_side{display:table-cell;width:190px;padding-right:5px;vertical-align:top;}
.ft_info .right_side{display:table-cell;width:145px;vertical-align:top;}
.ft_info > div div{border:1px solid #e6e6e6;border-radius:10px;text-align:center;}
.ft_info > div div span{display:block;margin-top:4px;font-weight:700;font-size:14px;line-height:23px;color:#333;}
.ft_info .cs{padding-top:16px;height:200px;}
.ft_info .cs a{display:block;margin-top:4px;margin-bottom:9px;font-family:'Roboto', sans-serif;font-weight:500;font-size:20px;line-height:23px;color:#333;}
.ft_info .cs p{height:18px;font-size:12px;line-height:18px;color:#828282;font-family:'Roboto', 'Noto Sans KR', sans-serif;}
.ft_info .cs p + p{margin-top:2px;}
.ft_info .cs p span{display:inline;font-weight:500;font-size:inherit;color:#595959;}
.ft_info .inquiry{height:97px;}
.ft_info .inquiry a{display:block;padding-top:23px;height:100%;}
.ft_info .kakao{height:98px;margin-top:5px;}
.ft_info .kakao a{display:block;padding-top:23px;height:100%;}

/* icons */
.ico_cs{display:inline-block;width:25px;height:25px;background:url(../images/icons/ico_cs.svg) no-repeat left top;background-size:100%;vertical-align:top;}
.ico_inquiry{display:inline-block;width:25px;height:25px;background:url(../images/icons/ico_inquiry.svg) no-repeat left top;background-size:100%;vertical-align:top;}
.ico_kakao{display:inline-block;width:25px;height:25px;background:url(../images/icons/ico_kakao.png) no-repeat left top;background-size:100%;vertical-align:top;}