#container .inner{padding:0 20px;}
.contents{padding-bottom:110px;}

/* Visual Swiper */
.visual_swiper{clear:both;}
.visual_swiper .swiper-pagination-fraction{display:flex;left:20px;bottom:20px;width:80px;height:35px;border-radius:71px;background-color:rgba(0, 0, 0, 0.3);font-family:'Roboto', sans-serif;font-size:15px;line-height:18px;font-weight:normal;color:#fff;align-items:center;justify-content:center;}
.visual_swiper .swiper-pagination-fraction .swiper-pagination-current{margin-right:5px;font-weight:bold}
.visual_swiper .swiper-pagination-fraction .swiper-pagination-total{margin-left:5px;}

/* Banner */
.banner_area{margin-top:30px;}
.banner_area a{display:block;}

/* BG */
.bg_skyblue{background-color:#f5f9fc;}
.bg_pink{background-color:#fff5f8;}
.bg_white{background-color:#fff;}
.bg_grey{background-color:#f9f9f9;}

/* Title */
.tit{display:block;padding-top:30px;font-weight:bold;font-size:22px;color:#333;}
.tit a{display:inline-block;position:relative;padding-right:25px;line-height:33px;color:inherit;vertical-align:middle;}
.tit a:after{content:'';display:block;position:absolute;right:0;top:50%;margin-top:-9px;width:20px;height:20px;background:url(../images/icons/ico_right_arrow.svg) no-repeat left top;background-size:100%;}
.desc{margin-top:5px;font-size:14px;line-height:20px;color:#999;}
.bg_skyblue .tit,
.bg_pink .tit{padding-top:47px;}
.bg_skyblue.related .tit{padding-top:35px;}

/* 장바구니 */
.btn_cart{position:absolute;right:10px;bottom:129px;width:30px;height:30px;}
.btn_cart span{display:block;overflow:hidden;width:inherit;height:inherit;text-indent:-9999px;background:url(../images/icons/ico_round_cart.svg) no-repeat left top;background-size:100%;}
.btn_cart:active span,
.btn_cart:hover span,
.btn_cart:focus span{background:url(../images/icons/ico_round_cart_active.svg) no-repeat left top;background-size:100%;}

/* 특가상품 */
.special_list{display:flex;margin-top:20px;padding-bottom:20px;flex-wrap:wrap;justify-content:space-between;}
.special_list .item{position:relative;flex:1 1 45%;}
.special_list .item:nth-child(2n-1){margin-right:11px;}
.special_list .info{padding:8px 10px 0;height:119px;}
.special_list .info .name{overflow:hidden;height:50px;font-size:15px;line-height:25px;color:#595959;}
.special_list .info .price{display:flex;padding-top:12px;}
.special_list .info .price .sale{margin-right:10px;font-weight:bold;font-size:10px;line-height:19px;color:#333;}
.special_list .info .price .sale span{font-family:'Roboto', sans-serif;font-size:16px;}
.special_list .info .price .origin{margin-right:5px;font-size:12px;line-height:18px;color:#c8c8c8;text-decoration:line-through;}
.special_list .info .price .origin span{font-family:'Roboto', sans-serif;}
.special_list .info .price .percent{font-weight:bold;font-size:14px;line-height:16px;color:#ffb2ca;}
.special_list .btn_cart{width:30px;height:30px;}

/* 신상품 */
.new_swiper{margin-top:20px;padding-bottom:30px;}
.new_swiper .swiper-container{padding:0 20px 0 5px;}
.new_swiper .swiper-slide{width:285px;margin-left:15px;}
.new_swiper > span{display:block;position:relative;}
.new_swiper .badge{display:flex;position:absolute;left:20px;top:20px;width:60px;height:30px;background-color:#ffb2ca;text-align:center;align-items:center;justify-content:center;font-size:16px;color:#fff;}
.new_swiper .info{padding:11px 0 0;height:119px;}
.new_swiper .info .name{overflow:hidden;height:50px;font-size:18px;line-height:25px;color:#595959;}
.new_swiper .info .price{display:flex;padding-top:9px;}
.new_swiper .info .price .sale{margin-right:10px;font-weight:bold;font-size:14px;line-height:26px;color:#333;}
.new_swiper .info .price .sale span{font-family:'Roboto', sans-serif;font-size:20px;}
.new_swiper .info .price .origin{margin-right:5px;font-size:18px;line-height:22px;color:#c8c8c8;text-decoration:line-through;}
.new_swiper .info .price .origin span{font-family:'Roboto', sans-serif;}
.new_swiper .btn_cart{width:50px;height:50px;}

/* 베스트 */
.best_list{display:flex;margin-top:20px;padding-bottom:20px;flex-wrap:wrap;justify-content:space-between;}
.best_list .item{position:relative;flex:1 1 45%;}
.best_list .item.big{flex:0 2 100%;margin-right:0;}
.best_list .item:nth-child(2n){margin-right:11px;}
.best_list > span{display:block;position:relative;}
.best_list .badge{display:flex;position:absolute;left:10px;top:11px;width:40px;height:18px;background-color:#ffb2ca;text-align:center;align-items:center;justify-content:center;font-family:'Roboto', sans-serif;font-style:italic;font-weight:500;font-size:14px;color:#fff;}
.best_list .info{padding:8px 10px 0;height:119px;}
.best_list .info .name{overflow:hidden;height:50px;font-size:15px;line-height:25px;color:#595959;}
.best_list .info .price{display:flex;padding-top:12px;}
.best_list .info .price .sale{margin-right:10px;font-weight:bold;font-size:10px;line-height:19px;color:#333;}
.best_list .info .price .sale span{font-family:'Roboto', sans-serif;font-size:16px;}
.best_list .info .price .origin{margin-right:5px;font-size:12px;line-height:18px;color:#c8c8c8;text-decoration:line-through;}
.best_list .info .price .origin span{font-family:'Roboto', sans-serif;}
.best_list .info .price .percent{font-weight:bold;font-size:14px;line-height:16px;color:#ffb2ca;}
.best_list .btn_cart{width:30px;height:30px;}
.best_list .item.big .badge{left:20px;top:20px;width:50px;height:30px;font-size:20px;}
.best_list .item.big .info{padding-top:11px;height:100px;}
.best_list .item.big .info .name{height:auto;max-height:50px;font-size:18px;}
.best_list .item.big .info .price{padding-top:9px;}
.best_list .item.big .info .price .sale{margin-right:10px;font-size:14px;line-height:26px;}
.best_list .item.big .info .price .sale span{font-size:20px;}
.best_list .item.big .info .price .origin{margin-right:5px;font-size:18px;line-height:22px;}
.best_list .item.big .info .price .percent{font-size:17px;line-height:24px;}
.best_list .item.big .btn_cart{bottom:120px;right:20px;width:70px;height:70px;}

/* 레시피 */
.recipe_swiper{margin-top:20px;padding-bottom:20px;}
.recipe_swiper .swiper-container{padding:0 20px 0 5px;}
.recipe_swiper .swiper-slide{width:290px;margin-left:15px;}
.recipe_swiper .swiper-slide a > span{display:block;position:relative;}
.recipe_swiper .swiper-slide a > span:before{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;border-radius:20px;background-color:#40151f;opacity:0.3;}
.recipe_swiper .swiper-slide.swiper-slide-active a > span:before{border:2px solid #ffb2ca;;background-color:transparent;opacity:1;box-shadow:5px 5px 20px 0 rgba(188, 43, 97, 0.2);}
.recipe_swiper .info{padding:21px 0 0;height:107px;}
.recipe_swiper .info .name{overflow:hidden;max-height:50px;font-weight:500;font-size:18px;line-height:25px;color:#595959;}
.recipe_swiper .info .price{display:flex;align-items:center;padding-top:7px;}
.recipe_swiper .info .price .sale{margin-right:11px;font-weight:bold;font-size:14px;line-height:29px;color:#ffb2ca;}
.recipe_swiper .info .price .sale span{font-family:'Roboto', sans-serif;font-size:25px;}
.recipe_swiper .info .price .origin{margin-right:5px;font-size:14px;line-height:20px;color:#595959;text-decoration:line-through;}
.recipe_swiper .info .price .origin span{font-family:'Roboto', sans-serif;}

/* 관련상품 */
.related_swiper{margin-top:16px;/*padding-bottom:20px;*/}
.related_swiper .swiper-container{padding:0 20px 0 10px;}
.related_swiper .swiper-slide{width:182px;margin-left:10px;}
.related_swiper .info{padding:8px 10px 0;height:120px;}
.related_swiper .info .name{overflow:hidden;height:50px;font-size:15px;line-height:25px;color:#595959;}
.related_swiper .info .price{display:flex;padding-top:8px;}
.related_swiper .info .price .sale{margin-right:11px;font-weight:bold;font-size:16px;line-height:24px;color:#333;}
.related_swiper .info .price .sale span{font-family:'Roboto', sans-serif;font-size:16px;}
.related_swiper .info .price .origin{margin-right:5px;font-size:12px;line-height:26px;color:#c8c8c8;text-decoration:line-through;}
.related_swiper .info .price .origin span{font-family:'Roboto', sans-serif;}
.related_swiper .info .price .percent{font-weight:bold;font-size:14px;line-height:24px;color:#ffb2ca;}

/* 상품상세 */
.prd_details{padding:20px 20px 25px;}

/* BreadCrumb */
.contents .breadcrumb{padding:26px 20px 0 15px;height:67px;} 
.breadcrumb{display:flex;align-items:center;}
.breadcrumb .btn_prev{display:inline-block;margin-right:5px;padding:5px;vertical-align:middle;}
.breadcrumb .btn_prev span{display:block;overflow:hidden;width:20px;height:20px;background:url(../images/icons/ico_left_arrow.svg) no-repeat left top;text-indent:-9999px;}
.breadcrumb ul{display:flex;}
.breadcrumb ul li{position:relative;margin-left:5px;padding-left:16px;font-size:14px;line-height:20px;letter-spacing:-0.35px;color:#595959;}
.breadcrumb ul li a{display:block;line-height:20px;color:inherit;}
.breadcrumb ul li:before{content:'';display:block;position:absolute;left:0;top:50%;margin-top:-5px;width:10px;height:10px;background:url(../images/icons/ico_right_arrow02.svg) no-repeat left top;}
.breadcrumb ul li:first-child{margin-left:0;padding-left:0;}
.breadcrumb ul li:first-child:before{display:none;}
.breadcrumb ul li:last-child{font-weight:500;}

/* Details Info */
.breadcrumb + .details_info{margin-top:20px;}
.details_info .img{display:block;}
.details_info .info_area{position:relative;padding:20px;}
.details_info .name{padding-right:60px;font-weight:500;font-size:18px;line-height:25px;color:#333;}
.details_info .desp{font-size:14px;line-height:20px;color:#999;}
.details_info .price{display:flex;margin-top:23px;align-items:center;}
.details_info .price .percent{margin-right:5px;font-family:'Roboto', sans-serif;font-weight:bold;font-size:22px;line-height:25px;color:#ffa9c2;}
.details_info .price .sale{margin-right:11px;font-weight:bold;font-size:16px;line-height:25px;color:#333;}
.details_info .price .sale span{font-family:'Roboto', sans-serif;font-size:22px;}
.details_info .price .origin{font-size:15px;line-height:25px;color:#c8c8c8;text-decoration:line-through;}
.details_info .price .origin span{font-family:'Roboto', sans-serif;}
.details_info .info_ext{display:flex;margin-top:10px;padding-bottom:18px;align-items:flex-start;}
.details_info .info_ext .grade{display:flex;padding:1px 15px 0 0;}
.details_info .info_ext .grade span{display:block;width:15px;height:15px;background:url(../images/icons/ico_star.svg) no-repeat left top;background-size:100%;}
.details_info .info_ext .grade span.on{background-image:url(../images/icons/ico_star_on.svg)}
.details_info .info_ext .grade span + span{margin-left:5px;}
.details_info .info_ext p{font-size:14px;}
.details_info .info_ext p a{display:block;line-height:20px;color:#333;}
.details_info .info_ext p span{margin-left:5px;font-family:'Roboto', sans-serif;font-weight:bold;}
.details_info .info_ds{position:absolute;right:15px;top:19px;}
.details_info .info_ds button{padding:5px;}
.details_info .info_ds button span{display:block;overflow:hidden;position:relative;width:20px;height:20px;text-indent:-9999px;}
.details_info .info_ds .star span{background:url(../images/icons/ico_heart.png) no-repeat left top;background-size:20px 40px;}
.details_info .info_ds .star.on span{background-position:0 -20px;}
.details_info .info_ds .sns{margin-left:1px;}
.details_info .info_ds .sns span{background:url(../images/icons/ico_sns.svg) no-repeat left top;background-size:100%;}
.details_info .info_btm{padding:30px 0 10px;border-top:1px solid #e6e6e6;}
.details_info .info_btm dl{display:flex;}
.details_info .info_btm dl + dl{margin-top:9px;}
.details_info .info_btm dl dt{width:85px;font-weight:500;font-size:14px;line-height:21px;letter-spacing:-0.35px;color:#333;}
.details_info .info_btm dl dd{font-size:14px;line-height:21px;letter-spacing:-0.35px;color:#595959;}

/* Contents Tab */
.tab-wrap02{padding:0 20px;height:52px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.tab-wrap02 ul{display:flex;}
.tab-wrap02 ul li{flex:1;text-align:center;font-size:15px;}
.tab-wrap02 ul li a{display:block;color:#999;}
.tab-wrap02 ul li a span{display:inline-block;position:relative;padding:17px 0 0;height:50px;}
.tab-wrap02 ul li.on{font-weight:500;}
.tab-wrap02 ul li.on a{color:#ffb2ca;}
.tab-wrap02 ul li.on a span:after{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:2px;background-color:#ffb2ca;}

/* Search */
.search_wrap{padding:30px 20px 15px;}
.search_area{display:flex;align-items:center;}
.search_area a{display:block;margin-left:-10px;padding:10px;}
.search_area a span{display:block;overflow:hidden;width:20px;height:20px;background:url(../images/icons/ico_left_arrow.svg) no-repeat left top;text-indent:-9999px;}
.search_area .input_wrap{position:relative;width:calc(100% - 30px);height:45px;border-radius:136px;background-color:#fff1f6;}
.search_area .input_wrap input{padding:0 0 0 20px;border:0;width:calc(100% - 60px);height:inherit;background-color:transparent;font-size:14px;color:#444;}
.search_area .input_wrap input::placeholder{font-size:15px;letter-spacing:-0.38px;color:#999;}
.search_area .input_wrap .btn_search{position:absolute;right:0;top:0;width:60px;height:100%;}
.search_area .input_wrap .btn_search span{display:block;overflow:hidden;width:inherit;height:inherit;text-indent:-9999px;background:url(../images/icons/ico_search.png) no-repeat center center;background-size:20px;}
.search_area + .search_inner{padding-top:21px;}
.search_inner{position:relative;padding-top:27px;}
.search_inner + .search_inner{margin-top:20px;}
.search_inner + .search_inner:before{content:'';position:absolute;left:-20px;right:-20px;top:0;height:6px;background-color:#e6e6e6;}
.search_inner .sch_top{display:flex;justify-content:space-between;}
.search_inner .sch_top h2{font-weight:700;font-size:18px;line-height:25px;letter-spacing:-0.45px;color:#333;}
.search_inner .sch_top a{font-size:13px;line-height:25px;color:#999;}
.search_inner .sch_cont{padding-top:11px;}
.search_inner .sch_cont > p{display:flex;position:relative;padding-right:30px;height:40px;font-size:15px;color:#595959;align-items:center;}
.search_inner .sch_cont p a{display:block;position:absolute;right:-10px;top:0;overflow:hidden;width:40px;height:inherit;background:url(../images/icons/ico_delete.svg) no-repeat center center;background-size:20px;text-indent:-9999px;}
.search_inner .sch_list{display:flex;flex-wrap:wrap;margin:10px -5px 0 0;}
.search_inner .sch_list a{display:inline-flex;padding:0 19px;margin:0 5px 5px 0;height:35px;border-radius:30px;border:1px solid #c8c8c8;font-size:15px;line-height:22px;color:#595959;align-items:center;justify-content:center;}
.sch_nodata{padding:50px 0 40px;text-align:center;}
.sch_nodata:before{content:'';display:block;width:50px;height:50px;margin:0 auto;background:url(../images/icons/ico_nodata.svg) no-repeat left top;}
.sch_nodata p{margin-top:10px;font-size:15px;line-height:22px;color:#999;}

/* 장바구니 */
.section{padding:30px 20px 20px;}
.bg_grey .section{padding-bottom:81px;}
.sec_tit{position:static;}
.sec_tit h2{font-weight:bold;font-size:22px;line-height:33px;letter-spacing:-0.55px;color:#333;}
.sub_tit{display:flex;padding:27px 0 10px;align-items:center;justify-content:space-between;}
.sub_tit h3{display:block;padding-top:3px;font-weight:bold;font-size:15px;line-height:22px;letter-spacing:-0.38px;color:#333;}
.sub_tit .btn{padding:0 14px;margin:3px 0 -2px;}
.sec_tit + .round_box{margin-top:20px;}
.round_box{padding:0 20px;border:1px solid #e6e6e6;border-radius:10px;background-color:#fff;}
.round_box dl{display:flex;}
.round_box dl:first-child{padding-top:18px;}
.round_box dl:last-child{padding-bottom:20px;}
.round_box dl dt{width:84px;font-weight:500;font-size:15px;line-height:23px;letter-spacing:-0.38px;color:#333;}
.round_box dl dd{flex:1;font-size:15px;line-height:23px;letter-spacing:-0.38px;color:#595959;}
.round_box dl dd .home_delivery{margin:4px 0 -2px;font-weight:500;font-size:12px;line-height:23px;color:#ffb2ca;}
.round_box dl dd .home_delivery a{display:inline-block;position:relative;margin-left:2px;padding-left:20px;color:#ffb2ca;}
.round_box dl dd .home_delivery a:before{content:'';display:block;position:absolute;left:0;top:5px;width:15px;height:15px;background:url(../images/icons/ico_guide.svg) no-repeat left top;}
.round_box dl dd .home_delivery a span{text-decoration:underline;}
.round_box dl dd .btn{display:inline-block;margin:-3px 0 -1px 10px;padding:0 16px;vertical-align:middle;}
.round_box dl dd > span{font-family:'Roboto', sans-serif;}
.round_box dl + dl{margin-top:9px;}
.round_box .total{margin-top:17px;border-top:1px solid #e6e6e6;}
.round_box .total dl{padding-bottom:17px !important;}
.round_box .total dl dt{width:90px;}
.round_box .total dl dd{text-align:right;font-weight:500;font-size:12px;letter-spacing:-0.3px;color:#ffb2ca;}
.round_box .total dl dd span{font-size:18px;letter-spacing:-0.45px;}
.round_box .total dl dd .total_guide{margin:4px 0 0;font-weight:400;color:#999;}
.round_box .total_sub{border-top:1px solid #e6e6e6;}
.round_box .total_sub dl{clear:both;}
.round_box .total_sub dl:last-child{padding-bottom:0 !important;}
.round_box .total_sub dl + dl{margin-top:15px;}
.round_box .total_sub dl dt{width:auto;}
.round_box .total_sub dl dt span{margin-left:5px;font-weight:500;font-size:12px;color:#ffb2ca;}
.round_box .total_sub dl dd{font-weight:500;text-align:right;}
.round_box .total_sub dl dd span{font-family:'Roboto', sans-serif;}

.round_box + .agree_wrap{margin-top:19px;}
.agree_wrap{position:relative;padding-left:30px;}
.agree_wrap input{position:absolute;left:-99999px;top:0;}
.agree_wrap label{overflow:hidden;font-size:14px;line-height:20px;letter-spacing:-0.35px;color:#595959;}
.agree_wrap label:before{content:'';display:block;position:absolute;left:0;top:2px;width:20px;height:20px;background:url(../images/icons/ico_checkbox.png) no-repeat left top;background-size:20px 40px;}
.agree_wrap input:checked + label:before{background-position:0 -20px;}
.agree_wrap a{display:inline-block;margin-left:11px;padding-right:11px;font-weight:500;font-size:14px;line-height:20px;letter-spacing:-0.35px;color:#ffb2ca;background:url(../images/icons/ico_right_arrow03.svg) no-repeat right 5px;vertical-align:middle;}
.agree_wrap + .btn_wrap{margin-top:30px;}

.form_wrap{clear:both;}
.form_wrap > div{display:flex;}
.form_wrap > div + div{margin-top:10px;}
.form_wrap .select_wrap{position:relative;width:100%;border-radius:5px;background-color:#fff;}
.form_wrap .select_wrap:after{content:'';display:block;position:absolute;right:20px;top:13px;width:15px;height:15px;background:url(../images/icons/ico_down_arrow.svg) no-repeat left top;background-size:100%;}
.form_wrap .select_wrap select{padding:0 20px;width:100%;height:40px;border-radius:5px;border:1px solid #e6e6e6;font-size:15px;color:#444;}
.form_wrap .select_wrap select.default{color:#c8c8c8;}
.form_wrap .input_wrap{flex:1;}
.form_wrap .input_wrap input{padding:0 20px;width:100%;height:40px;border-radius:5px;border:1px solid #e6e6e6;font-size:15px;color:#444;}
.form_wrap .input_wrap input::placeholder{color:#c8c8c8;}
.form_wrap .btn{flex:0 1 auto;margin-left:10px;width:100px;}
.form_wrap p{margin:10px 0 0;font-size:12px;line-height:18px;color:#999;}
.form_wrap p span{font-family:'Roboto', sans-serif;color:#ffb2ca;}

.payment_list{padding:16px 0 13px;}
.payment_list li{display:flex;position:relative;align-items:center;}
.payment_list li + li{margin-top:18px;}
.payment_list li input{position:absolute;left:-9999px;top:0;}
.payment_list li label{display:flex;position:relative;padding-left:28px;height:30px;font-size:15px;line-height:22px;color:#333;align-items:center;}
.payment_list li label:before{content:'';display:block;position:absolute;left:0;top:50%;width:18px;height:18px;background:url(../images/icons/ico_radiobox.png) no-repeat left top;background-size:18px 36px;transform:translate(0, -50%);}
.payment_list li input:checked + label:before{background-position:0 -18px;}
.payment_list li [class^="pay_"]{display:inline-block;overflow:hidden;text-indent:-9999px;vertical-align:middle;}
.payment_list li .pay_naver{width:114px;height:29px;background:url(../images/common/payment_naver.png) no-repeat left top;background-size:100%;}
.payment_list li .pay_kakao{width:73px;height:30px;background:url(../images/common/payment_kakao.png) no-repeat left top;background-size:100%;}
.payment_list li .pay_smile{width:114px;height:26px;background:url(../images/common/payment_smile.png) no-repeat left top;background-size:100%;}
.payment_list li .btn{margin-left:11px;width:89px;}

.accord_wrap{position:static;}
.accord_wrap .accord_tit{display:flex;padding:14px 0 15px;align-items:center;}
.accord_wrap .accord_tit .agree_wrap{height:24px;}
.accord_wrap .accord_tit .agree_wrap label{color:#333;}
.accord_wrap .accord_tit .btn{margin-left:10px;min-width:85px;}
.accord_wrap .accord_tit .btn_box{flex:1;text-align:right;}
.accord_wrap .accord_tit .btn_accord{padding:10px;}
.accord_wrap .accord_tit .btn_accord span{display:block;overflow:hidden;width:20px;height:20px;background:url(../images/icons/ico_up_arrow.svg) no-repeat left top;background-size:100%;text-indent:-9999px;}
.accord_wrap .accord_tit .btn_accord.fold span{transform:rotate(-180deg);}
.accord_wrap .accord_con{position:static}

.round_box .item{position:relative;padding:20px 0 20px 30px;border-top:1px solid #e6e6e6;}
.round_box .item .agree_wrap{position:absolute;left:0;top:18px;}
.round_box .item .item_con{position:relative;padding-left:75px;padding-right:25px;}
.round_box .item .item_con > span{position:absolute;left:0;top:0;}
.round_box .item .item_con > span img{width:65px;height:82px;}
.round_box .item .item_con dl{display:block;width:100%;height:82px;}
.round_box .item .item_con dl dt{overflow:hidden;width:100%;text-overflow:ellipsis;white-space:nowrap;font-weight:500;line-height:22px;color:#333;}
.round_box .item .item_con dl dt a{color:#333;}
.round_box .item .item_con dl dd.desc{height:33px;font-size:10px;line-height:15px;color:#999;}
.round_box .item .item_con dl dd a{font-weight:500;font-size:12px;color:#ffb2ca;text-decoration:underline;}
.round_box .item .item_con .btn_del{position:absolute;right:-11px;top:-6px;padding:10px;}
.round_box .item .item_con .btn_del span{display:block;overflow:hidden;position:relative;width:15px;height:15px;text-indent:-9999px;background:url(../images/icons/ico_delete02.svg) no-repeat left top;background-size:100%;}
.round_box .item .item_con .item_btm{display:flex;margin:10px -25px 0 -75px;align-items:center;justify-content:space-between;}
.round_box .item .item_con .item_btm p{padding-top:1px;font-weight:500;font-size:16px;color:#050505;}
.round_box .item .item_con .item_btm p span{font-family:'Roboto', sans-serif;}

/* mypage */
.color-pink{color:#ffb2ca;}
.sec_tit .mypage-memeber{font-weight:400;position:relative;}
.sec_tit .mypage-memeber .color-pink{font-weight:500;}
.sec_tit .mypage-memeber .btn{position:absolute;right:0;top:0;min-width:85px;}
.sec_tit .point{margin-top:10px;font-size:15px;color:#595959;line-height:1.47;letter-spacing:-0.38px;}
.sec_tit .point span{margin-left:10px;}
.round_box.member{padding:0 0 20px;}
.round_box .member-view{display:inline-block;width:100%;}
.round_box .member-view li{width:25%;float:left;margin-top:20px;border-right:1px solid #e6e6e6;text-align:center;}
.round_box .member-view li:last-child{border:none;}
.round_box .member-view li .tit{font-size:12px;padding:0 0 11px 0;font-weight:normal;letter-spacing:-0.3px;line-height:1.5;}
.round_box .member-view li .number{font-size:14px;}
.round_box .member-view li .number .color-pink{font-size:22px;font-weight:bold;}
.round_box.menu-box .menu li{position:relative;color:#333333;font-size:15px;line-height:1.47;letter-spacing:-0.38px;padding:14px 0;}
.round_box.menu-box .menu li a{display:block;}
.round_box.menu-box .menu li a::after{content:'';display:inline-block;background:url(../images/icons/ico_right_arrow04.svg) no-repeat left top;width:15px;height:15px;position:absolute;right:0;top:calc(50% - 7px);}
.login-btn-wrap{display:flex;justify-content:space-between;margin:20px 0 30px;}
.login-btn-wrap a.btn{flex-basis:50%;}
.login-btn-wrap a.btn + a.btn{margin-left:4px;}

.btn-quantity{display:flex;position:relative;width:110px;height:30px;border-radius:5px;border:solid 1px #e6e6e6;background-color:#fff;}
.btn-quantity button.btn-minus{border-right:solid 1px #e6e6e6;background-color:transparent;cursor:pointer;position:relative;width:30px;height:100%;}
.btn-quantity button.btn-minus::before{position:absolute;top:50%;left:50%;width:10px;height:1px;margin:0 0 0 -6px;background-color:#707070;content:'';}
.btn-quantity button.btn-plus{border-left:solid 1px #e6e6e6;background-color:transparent;cursor:pointer;position:relative;width:30px;height:100%;}
.btn-quantity button.btn-plus::before{position:absolute;top:50%;left:50%;width:11px;height:1px;margin:0 0 0 -6px;background-color:#707070;content:'';}
.btn-quantity button.btn-plus::after{position:absolute;top:50%;left:50%;width:1px;height:11px;margin:-5px 0 0 -1px;background-color:#707070;content:'';}
.btn-quantity input.input-num{width:48px;height:100%;font-family:'Roboto', sans-serif;font-weight:400;font-size:15px;color:#333;text-align:center;}

/* 20210506 추가 */
.fl_left{float:left;}
.fl_right{float:right;}

.section.type02{padding-bottom:81px;}
.section.type02 .btn_wrap{overflow:hidden;margin-top:20px;}
.section.type02 .btn_wrap > div{font-size:0;letter-spacing:0;}
.section.type02 .btn_wrap .btn{display:inline-flex;width:80px;vertical-align:top;}
.section.type02 .btn_wrap .btn + .btn{margin-left:10px;}
.section.type02 .btn_wrap.col02{display:flex;}
.section.type02 .btn_wrap.col02 > div{flex:1;}
.section.type02 .btn_wrap.col02 > div + div{margin-left:5px;}
.section.type02 .btn_wrap.col02 .btn{width:100%;}
.section.type02 .btn_wrap.type02{margin-top:10px;}
.section.type02 .btn_wrap.type02 > div{font-size:0;letter-spacing:0;}
.section.type02 .btn_wrap.type02 .size_s{min-width:98px;height:30px;line-height:28px;font-weight:400;font-size:16px;}
.section.type02 .btn_wrap.type02 .btn + .btn{margin-left:5px;}
.section.type02 .btn_wrap.type02 + .round_box{margin-top:30px;}
.content_search_area{}
.content_search_area > div + div{margin-top:5px;}
.content_search_area .select_wrap{overflow:hidden;position:relative;height:40px;border-radius:5px;border:1px solid #e6e6e6;}
.content_search_area .select_wrap:after{content:'';display:block;position:absolute;right:19px;top:12px;width:15px;height:15px;background:url(../images/icons/ico_down_arrow.svg) no-repeat left top;background-size:100%;}
.content_search_area .select_wrap select{width:100%;height:100%;padding:0 40px 0 20px;font-size:15px;color:#333;}
.content_search_area .col02{display:flex;}
.content_search_area .col02 > div{flex:1;}
.content_search_area .col02 > div + div{margin-left:5px;}
.content_search_area .input_wrap{overflow:hidden;position:relative;height:40px;border-radius:5px;border:1px solid #e6e6e6;}
.content_search_area .input_wrap input{width:100%;height:100%;padding:0 20px;}
.content_search_area .input_wrap button{position:absolute;right:0;top:0;padding:9px 14px;}
.content_search_area .input_wrap button span{display:block;overflow:hidden;width:20px;height:20px;background:url(../images/icons/ico_search.png) no-repeat left top;background-size:100%;text-indent:-9999px;}

.pagination{margin-top:30px;font-size:0;letter-spacing:0;text-align:center;}
.pagination a{display:inline-block;width:34px;height:34px;font-family:'Roboto', sans-serif;text-align:center;vertical-align:top;}
.pagination a.btn_prev,
.pagination a.btn_next{overflow:hidden;text-indent:-9999px;}
.pagination a.btn_prev{margin-right:5px;background:url(../images/icons/ico_prev.svg) no-repeat left top;background-size:100%;}
.pagination a.btn_next{margin-left:5px;background:url(../images/icons/ico_next.svg) no-repeat left top;background-size:100%;}
.pagination span{}
.pagination span a{font-size:14px;line-height:34px;color:#595959;}
.pagination span a + a{margin-left:5px;}
.pagination span a.on{font-weight:500;color:#ffb2ca;}

.notice_list_wrap{margin-top:15px;border-top:2px solid #ffb2ca;border-bottom:1px solid #ffb2ca;}
.notice_list_wrap .item{display:flex;height:94px;padding:20px 20px 10px;border-top:1px solid #e6e6e6;}
.notice_list_wrap .item:first-child{border:0;}
.notice_list_wrap .item > div{overflow:hidden;position:relative;flex:1;}
.notice_list_wrap .item > div a{display:inline-block;overflow:hidden;position:relative;max-width:100%;padding-left:28px;padding-right:26px;font-size:15px;line-height:21px;color:#333;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.notice_list_wrap .item > div a:before{content:'';display:block;position:absolute;left:0;top:0;width:20px;height:20px;background:url(../images/icons/ico_lock.svg) no-repeat left top;background-size:100%;}
.notice_list_wrap .item > div a:hover,
.notice_list_wrap .item > div a:focus{text-decoration:underline;}
.notice_list_wrap .item > div a .file{position:absolute;right:0;top:1px;margin:0 0 0 2px;vertical-align:top;}
.notice_list_wrap .item > div p{margin-top:17px;font-size:12px;line-height:14px;color:#999;letter-spacing:-0.3px;}
.notice_list_wrap .item > div p > *{display:inline-block;vertical-align:top;}
.notice_list_wrap .item > div p em{}
.notice_list_wrap .item > div p span{position:relative;margin-left:5px;padding-left:6px;font-family:'Roboto', sans-serif;}
.notice_list_wrap .item > div p span:before{content:'';display:block;position:absolute;left:0;top:2px;width:1px;height:10px;background-color:#e6e6e6;}
.notice_list_wrap .item .img{overflow:hidden;margin:-5px 10px 0 0;width:60px;height:60px;border-radius:5px;border:1px solid #e6e6e6;flex:0 1 auto;}
.notice_list_wrap .item .img img{}
.notice_list_wrap .item.notice{background-color:#f5f9fc;}
.notice_list_wrap .item.notice > div a{padding-left:28px;padding-right:0;font-weight:500;}
.notice_list_wrap .item.notice > div a:before{content:'';display:block;position:absolute;left:0;top:1px;width:20px;height:20px;background:url(../images/icons/ico_alarm.svg) no-repeat left top;background-size:100%;}
.notice_list_wrap .item.reply > div{padding-left:20px;}
.notice_list_wrap .item.reply > div:before{content:'';display:block;position:absolute;left:0px;top:0;width:20px;height:20px;background:url(../images/icons/ico_reply.svg) no-repeat left top;background-size:100%;}
.notice_list_wrap .item.reply > div a{padding-right:0;}

.view_wrap{border-top:2px solid #ffb2ca;border-bottom:1px solid #ffb2ca;}
.view_wrap .view_tit{padding:24px 0 23px;text-align:center;}
.view_wrap .view_tit strong{font-weight:400;font-size:24px;line-height:36px;letter-spacing:-0.6px;color:#333;}
.view_wrap .view_tit div{margin-top:11px;font-size:0;letter-spacing:0;}
.view_wrap .view_tit div p{display:inline-block;margin:3px 0 2px;position:relative;padding-right:13px;font-size:14px;line-height:20px;letter-spacing:-0.35px;color:#999;vertical-align:top;}
.view_wrap .view_tit div p em{margin-right:5px;font-weight:500;}
.view_wrap .view_tit div p span{font-family:'Roboto', sans-serif;}
.view_wrap .view_tit div p:after{content:'';display:block;position:absolute;right:0;top:5px;width:1px;height:12px;background-color:#e6e6e6;}
.view_wrap .view_tit div p + p{margin-left:12px;}
.view_wrap .view_tit div p:last-child{padding-right:0;}
.view_wrap .view_tit div p:last-child:after{display:none;}
.view_wrap .view_con{min-height:357px;padding:29px 0 58px;border-top:1px solid #e6e6e6;font-size:16px;line-height:27px;letter-spacing:-0.4px;color:#717171;text-align:center;}

.view_pagination{margin-top:30px;border-top:1px solid #e6e6e6;}
.view_pagination ul{font-size:14px;line-height:21px;color:#e6e6e6;letter-spacing:-0.35px;}
.view_pagination ul li{display:flex;padding:0 10px;height:61px;border-bottom:1px solid #e6e6e6;align-items:center;}
.view_pagination ul li span{position:relative;margin-right:30px;padding-right:25px;font-weight:500;color:#999;flex:0 1 auto;}
.view_pagination ul li span:after{content:'';display:block;position:absolute;right:0;top:3px;width:15px;height:15px;background:url(../images/icons/ico_down_arrow02.svg) no-repeat left top;background-size:100%;}
.view_pagination ul li:first-child span:after{transform:rotate(-180deg);}
.view_pagination ul li p{flex:1;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.view_pagination ul li a{color:#595959;}

.tbl_wrap{margin:0;padding:0;border-top:2px solid #ffb2ca;border-bottom:1px solid #ffb2ca;}
.tbl_wrap table{width:100%;font-size:15px;line-height:23px;color:#333;border-collapse:collapse;}
.tbl_wrap table th, .tbl_wrap table td{height:51px;padding:5px 0 5px 10px;border-top:1px solid #e6e6e6;}
.tbl_wrap table tr:first-child th, .tbl_wrap table tr:first-child td{height:50px;border-top:0;}
.tbl_wrap table th{font-weight:500;text-align:left;}
.tbl_wrap table td{}
.tbl_wrap table td.editor_area{padding:0;border-top:0;}
.tbl_wrap table td.editor_area > div{min-height:534px;border:1px solid #ecedec;text-align:center;line-height:534px;}
.tbl_wrap table select, .tbl_wrap table input{font-size:15px;color:#333;}
.tbl_wrap table .radio_wrap + .radio_wrap{margin-left:34px;}

.radio_wrap{display:inline-block;position:relative;vertical-align:middle;}
.radio_wrap input{position:absolute;left:0;top:0;}
.radio_wrap label{display:block;padding-left:27px;font-weight:500;font-size:15px;color:#333;}
.radio_wrap label:before{content:'';display:block;position:absolute;left:0;top:2px;width:18px;height:18px;background:url(../images/icons/ico_radiobox.png) no-repeat left top;background-size:18px 36px;}
.radio_wrap input:checked + label:before{background-position:0 -18px;}

.file_wrap{position:relative;font-size:0;letter-spacing:0;}
.file_wrap label{display:inline-block;width:96px;height:40px;margin-left:5px;border-radius:5px;background-color:#828282;font-size:15px;line-height:40px;text-align:center;color:#fff;vertical-align:middle;}
.file_wrap input[type="file"]{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;cursor:pointer;}
.file_wrap input[type="text"]{float:left;width:calc(100% - 101px);height:40px;padding:0 20px;border-radius:5px;border:1px solid #e6e6e6;}
.file_wrap > div{float:left;width:calc(100% - 101px);height:40px;padding:0 20px;border-radius:5px;border:1px solid #e6e6e6;}

.tab_wrap{}
.tab_wrap ul{height:56px;border-bottom:1px solid #333;}
.tab_wrap ul:after{content:'';display:block;clear:both;}
.tab_wrap ul li{float:left;width:50%;text-align:center;}
.tab_wrap ul li a{display:block;padding:19px 10px;height:55px;border:1px solid #e6e6e6;border-bottom:0;font-size:15px;color:#999;}
.tab_wrap ul li a span{font-family:'Roboto', sans-serif;font-weight:500;font-size:16px;color:#ffb2ca;}
.tab_wrap ul li.on{position:relative;}
.tab_wrap ul li.on a{height:56px;border-color:#333;background-color:#fff;font-weight:500;color:#333;}
.txt_guide{margin-top:7px;font-size:12px;line-height:23px;color:#999;}

.section.type02 .sec_tit{margin-top:19px;}
.section.type02 .sec_tit h2{font-weight:500;font-size:15px;line-height:18px;color:#333;}
.section.type02 .sec_tit + .round_box{margin-top:11px;}
.section.type02 .round_box{overflow:hidden;padding:0;}

.select_wrap.type02{position:relative;overflow:hidden;height:60px;border-radius:10px;border:1px solid #e6e6e6;background-color:#f9f9f9;}
.select_wrap.type02:after{content:'';display:block;position:absolute;right:19px;top:22px;width:15px;height:15px;background:url(../images/icons/ico_down_arrow_gray.svg) no-repeat left top;background-size:100%;}
.select_wrap.type02 select{width:100%;height:100%;padding:0 20px;font-weight:500;font-size:15px;color:#333;background-color:inherit;}
.round_box + .select_wrap.type02{margin-top:10px;}
.select_wrap.type02 + .round_box{margin-top:5px;}
.round_box + .btn_wrap.col02{margin-top:30px;}

.payment_result{padding-bottom:4px;}
.payment_result li{display:flex;padding:5px 20px;height:50px;font-size:15px;line-height:18px;color:#595959;align-items:center;justify-content:space-between;}
.payment_result li em{font-weight:400;}
.payment_result li p{color:#333;}
.payment_result li p span{font-family:'Roboto', sans-serif;font-weight:500;}
.payment_result li.pay{height:54px;background-color:#ffb2ca;color:#fff;}
.payment_result li.pay em{font-weight:500;}
.payment_result li.pay p{color:#fff;}

.section.type02 .round_box{}
.section.type02 .round_box .item{padding:20px 14px;border:0;}
.section.type02 .round_box .item + .item{border-top:1px solid #e6e6e6;}
.section.type02 .round_box .prd_info{display:flex;align-items:flex-start;}
.section.type02 .round_box .prd_info .agree_wrap{display:block;position:static;padding:0;width:20px;height:20px;flex:0 1 20px;}
.section.type02 .round_box .prd_info .agree_wrap label{display:block;position:relative;width:inherit;height:inherit;}
.section.type02 .round_box .prd_info .agree_wrap label:before{top:0;vertical-align:top;}
.section.type02 .round_box .prd_info .img{overflow:hidden;margin:0 13px 0 10px;border-radius:5px;border:1px solid #e6e6e6;flex:0 1 70px;}
.section.type02 .round_box .prd_info > div{flex:1;}
.section.type02 .round_box .prd_info .btn-quantity input.input-num{font-weight:500;font-size:16px;}
.section.type02 .round_box .prd_info .prd_tit{overflow:hidden;min-height:35px;margin-bottom:7px;font-weight:500;font-size:12px;line-height:18px;color:#333;}
.section.type02 .round_box .prd_info .prd_tit a{color:inherit;}
.section.type02 .round_box .prd_info .prd_delivery{font-size:10px;line-height:15px;color:#999;}
.section.type02 .round_box .prd_info .prd_price{margin:8px 0 11px;font-weight:500;font-size:13px;color:#333;;}
.section.type02 .round_box .prd_info .prd_price span{font-family:'Roboto', sans-serif;font-size:14px;}
.section.type02 .round_box .prd_info + *{margin-top:15px;}
.section.type02 .round_box .prd_option{display:flex;padding:10px 0;min-height:51px;border-top:1px solid #e6e6e6;align-items:center;justify-content:space-between;}
.section.type02 .round_box .prd_option p{padding-right:10px;font-size:12px;line-height:18px;color:#595959;flex:1;}
.section.type02 .round_box .btn{font-weight:400;font-size:15px;flex:0 1 77px;}
.section.type02 .round_box .size_s{min-width:77px;height:30px;line-height:28px;}
.section.type02 .round_box .prd_pay{border-top:1px solid #e6e6e6;}
.section.type02 .round_box .prd_pay .price{margin-top:14px;font-size:14px;line-height:20px;color:#333;text-align:right;}
.section.type02 .round_box .prd_pay .price span{font-family:'Roboto', sans-serif;font-weight:500;}
.section.type02 .round_box .prd_pay .btn_wrap{margin-top:13px;}
.section.type02 .round_box .prd_pay .btn_wrap .btn{width:auto;min-width:70px;padding:0 21px;}
.section.type02 .round_box .prd_pay .btn_wrap .btn + .btn{margin-left:5px;}
/* //20210506 추가 */