#container .inner{padding:0 20px;}
.contents{padding-bottom:110px;}

/* Visual Swiper */
.visual_swiper{clear:both;}
.visual_swiper .swiper-pagination-fraction{display:flex;left:20px;bottom:20px;width:80px;height:35px;border-radius:71px;background-color:rgba(0, 0, 0, 0.3);font-family:'Roboto', sans-serif;font-size:15px;line-height:18px;font-weight:normal;color:#fff;align-items:center;justify-content:center;}
.visual_swiper .swiper-pagination-fraction .swiper-pagination-current{margin-right:5px;font-weight:bold}
.visual_swiper .swiper-pagination-fraction .swiper-pagination-total{margin-left:5px;}

/* Banner */
.banner_area{margin-top:30px;}
.banner_area a{display:block;}

/* BG */
.bg_skyblue{background-color:#f5f9fc;}
.bg_pink{background-color:#fff5f8;}
.bg_white{background-color:#fff;}

/* Title */
.tit{display:block;padding-top:30px;font-weight:bold;font-size:22px;color:#333;}
.tit a{display:inline-block;position:relative;padding-right:25px;line-height:33px;color:inherit;vertical-align:middle;}
.tit a:after{content:'';display:block;position:absolute;right:0;top:50%;margin-top:-9px;width:20px;height:20px;background:url(../images/icons/ico_right_arrow.svg) no-repeat left top;background-size:100%;}
.desc{margin-top:5px;font-size:14px;line-height:20px;color:#999;}
.bg_skyblue .tit,
.bg_pink .tit{padding-top:47px;}
.bg_skyblue.related .tit{padding-top:35px;}

/* 장바구니 */
.btn_cart{position:absolute;right:10px;bottom:129px;width:30px;height:30px;}
.btn_cart span{display:block;overflow:hidden;width:inherit;height:inherit;text-indent:-9999px;background:url(../images/icons/ico_round_cart.svg) no-repeat left top;background-size:100%;}
.btn_cart:active span,
.btn_cart:hover span,
.btn_cart:focus span{background:url(../images/icons/ico_round_cart_active.svg) no-repeat left top;background-size:100%;}

/* 특가상품 */
.special_list{display:flex;margin-top:20px;padding-bottom:20px;flex-wrap:wrap;justify-content:space-between;}
.special_list .item{position:relative;flex:1 1 45%;}
.special_list .item:nth-child(2n-1){margin-right:11px;}
.special_list .info{padding:8px 10px 0;height:119px;}
.special_list .info .name{overflow:hidden;height:50px;font-size:15px;line-height:25px;color:#595959;}
.special_list .info .price{display:flex;padding-top:12px;}
.special_list .info .price .sale{margin-right:10px;font-weight:bold;font-size:10px;line-height:19px;color:#333;}
.special_list .info .price .sale span{font-family:'Roboto', sans-serif;font-size:16px;}
.special_list .info .price .origin{margin-right:5px;font-size:12px;line-height:18px;color:#c8c8c8;text-decoration:line-through;}
.special_list .info .price .origin span{font-family:'Roboto', sans-serif;}
.special_list .info .price .percent{font-weight:bold;font-size:14px;line-height:16px;color:#ffb2ca;}
.special_list .btn_cart{width:30px;height:30px;}

/* 신상품 */
.new_swiper{margin-top:20px;padding-bottom:30px;}
.new_swiper .swiper-container{padding:0 20px 0 5px;}
.new_swiper .swiper-slide{width:285px;margin-left:15px;}
.new_swiper > span{display:block;position:relative;}
.new_swiper .badge{display:flex;position:absolute;left:20px;top:20px;width:60px;height:30px;background-color:#ffb2ca;text-align:center;align-items:center;justify-content:center;font-size:16px;color:#fff;}
.new_swiper .info{padding:11px 0 0;height:119px;}
.new_swiper .info .name{overflow:hidden;height:50px;font-size:18px;line-height:25px;color:#595959;}
.new_swiper .info .price{display:flex;padding-top:9px;}
.new_swiper .info .price .sale{margin-right:10px;font-weight:bold;font-size:14px;line-height:26px;color:#333;}
.new_swiper .info .price .sale span{font-family:'Roboto', sans-serif;font-size:20px;}
.new_swiper .info .price .origin{margin-right:5px;font-size:18px;line-height:22px;color:#c8c8c8;text-decoration:line-through;}
.new_swiper .info .price .origin span{font-family:'Roboto', sans-serif;}
.new_swiper .btn_cart{width:50px;height:50px;}

/* 베스트 */
.best_list{display:flex;margin-top:20px;padding-bottom:20px;flex-wrap:wrap;justify-content:space-between;}
.best_list .item{position:relative;flex:1 1 45%;}
.best_list .item.big{flex:0 2 100%;margin-right:0;}
.best_list .item:nth-child(2n){margin-right:11px;}
.best_list > span{display:block;position:relative;}
.best_list .badge{display:flex;position:absolute;left:10px;top:11px;width:40px;height:18px;background-color:#ffb2ca;text-align:center;align-items:center;justify-content:center;font-family:'Roboto', sans-serif;font-style:italic;font-weight:500;font-size:14px;color:#fff;}
.best_list .info{padding:8px 10px 0;height:119px;}
.best_list .info .name{overflow:hidden;height:50px;font-size:15px;line-height:25px;color:#595959;}
.best_list .info .price{display:flex;padding-top:12px;}
.best_list .info .price .sale{margin-right:10px;font-weight:bold;font-size:10px;line-height:19px;color:#333;}
.best_list .info .price .sale span{font-family:'Roboto', sans-serif;font-size:16px;}
.best_list .info .price .origin{margin-right:5px;font-size:12px;line-height:18px;color:#c8c8c8;text-decoration:line-through;}
.best_list .info .price .origin span{font-family:'Roboto', sans-serif;}
.best_list .info .price .percent{font-weight:bold;font-size:14px;line-height:16px;color:#ffb2ca;}
.best_list .btn_cart{width:30px;height:30px;}
.best_list .item.big .badge{left:20px;top:20px;width:50px;height:30px;font-size:20px;}
.best_list .item.big .info{padding-top:11px;height:100px;}
.best_list .item.big .info .name{height:auto;max-height:50px;font-size:18px;}
.best_list .item.big .info .price{padding-top:9px;}
.best_list .item.big .info .price .sale{margin-right:10px;font-size:14px;line-height:26px;}
.best_list .item.big .info .price .sale span{font-size:20px;}
.best_list .item.big .info .price .origin{margin-right:5px;font-size:18px;line-height:22px;}
.best_list .item.big .info .price .percent{font-size:17px;line-height:24px;}
.best_list .item.big .btn_cart{bottom:120px;right:20px;width:70px;height:70px;}

/* 레시피 */
.recipe_swiper{margin-top:20px;padding-bottom:20px;}
.recipe_swiper .swiper-container{padding:0 20px 0 5px;}
.recipe_swiper .swiper-slide{width:290px;margin-left:15px;}
.recipe_swiper .swiper-slide a > span{display:block;position:relative;}
.recipe_swiper .swiper-slide a > span:before{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;border-radius:20px;background-color:#40151f;opacity:0.3;}
.recipe_swiper .swiper-slide.swiper-slide-active a > span:before{border:2px solid #ffb2ca;;background-color:transparent;opacity:1;box-shadow:5px 5px 20px 0 rgba(188, 43, 97, 0.2);}
.recipe_swiper .info{padding:21px 0 0;height:107px;}
.recipe_swiper .info .name{overflow:hidden;max-height:50px;font-weight:500;font-size:18px;line-height:25px;color:#595959;}
.recipe_swiper .info .price{display:flex;align-items:center;padding-top:7px;}
.recipe_swiper .info .price .sale{margin-right:11px;font-weight:bold;font-size:14px;line-height:29px;color:#ffb2ca;}
.recipe_swiper .info .price .sale span{font-family:'Roboto', sans-serif;font-size:25px;}
.recipe_swiper .info .price .origin{margin-right:5px;font-size:14px;line-height:20px;color:#595959;text-decoration:line-through;}
.recipe_swiper .info .price .origin span{font-family:'Roboto', sans-serif;}

/* 관련상품 */
.related_swiper{margin-top:16px;/*padding-bottom:20px;*/}
.related_swiper .swiper-container{padding:0 20px 0 10px;}
.related_swiper .swiper-slide{width:182px;margin-left:10px;}
.related_swiper .info{padding:8px 10px 0;height:120px;}
.related_swiper .info .name{overflow:hidden;height:50px;font-size:15px;line-height:25px;color:#595959;}
.related_swiper .info .price{display:flex;padding-top:8px;}
.related_swiper .info .price .sale{margin-right:11px;font-weight:bold;font-size:16px;line-height:24px;color:#333;}
.related_swiper .info .price .sale span{font-family:'Roboto', sans-serif;font-size:16px;}
.related_swiper .info .price .origin{margin-right:5px;font-size:12px;line-height:26px;color:#c8c8c8;text-decoration:line-through;}
.related_swiper .info .price .origin span{font-family:'Roboto', sans-serif;}
.related_swiper .info .price .percent{font-weight:bold;font-size:14px;line-height:24px;color:#ffb2ca;}

/* 상품상세 */
.prd_details{padding:20px 20px 25px;}

/* BreadCrumb */
.contents .breadcrumb{padding:26px 20px 0 15px;height:67px;} 
.breadcrumb{display:flex;align-items:center;}
.breadcrumb .btn_prev{display:inline-block;margin-right:5px;padding:5px;vertical-align:middle;}
.breadcrumb .btn_prev span{display:block;overflow:hidden;width:20px;height:20px;background:url(../images/icons/ico_left_arrow.svg) no-repeat left top;text-indent:-9999px;}
.breadcrumb ul{display:flex;}
.breadcrumb ul li{position:relative;margin-left:5px;padding-left:16px;font-size:14px;line-height:20px;letter-spacing:-0.35px;color:#595959;}
.breadcrumb ul li a{display:block;line-height:20px;color:inherit;}
.breadcrumb ul li:before{content:'';display:block;position:absolute;left:0;top:50%;margin-top:-5px;width:10px;height:10px;background:url(../images/icons/ico_right_arrow02.svg) no-repeat left top;}
.breadcrumb ul li:first-child{margin-left:0;padding-left:0;}
.breadcrumb ul li:first-child:before{display:none;}
.breadcrumb ul li:last-child{font-weight:500;}

/* Details Info */
.breadcrumb + .details_info{margin-top:20px;}
.details_info .img{display:block;}
.details_info .info_area{position:relative;padding:20px;}
.details_info .name{padding-right:60px;font-weight:500;font-size:18px;line-height:25px;color:#333;}
.details_info .desp{font-size:14px;line-height:20px;color:#999;}
.details_info .price{display:flex;margin-top:23px;align-items:center;}
.details_info .price .percent{margin-right:5px;font-family:'Roboto', sans-serif;font-weight:bold;font-size:22px;line-height:25px;color:#ffa9c2;}
.details_info .price .sale{margin-right:11px;font-weight:bold;font-size:16px;line-height:25px;color:#333;}
.details_info .price .sale span{font-family:'Roboto', sans-serif;font-size:22px;}
.details_info .price .origin{font-size:15px;line-height:25px;color:#c8c8c8;text-decoration:line-through;}
.details_info .price .origin span{font-family:'Roboto', sans-serif;}
.details_info .info_ext{display:flex;margin-top:10px;padding-bottom:18px;align-items:flex-start;}
.details_info .info_ext .grade{display:flex;padding:1px 15px 0 0;}
.details_info .info_ext .grade span{display:block;width:15px;height:15px;background:url(../images/icons/ico_star.svg) no-repeat left top;background-size:100%;}
.details_info .info_ext .grade span.on{background-image:url(../images/icons/ico_star_on.svg)}
.details_info .info_ext .grade span + span{margin-left:5px;}
.details_info .info_ext p{font-size:14px;}
.details_info .info_ext p a{display:block;line-height:20px;color:#333;}
.details_info .info_ext p span{margin-left:5px;font-family:'Roboto', sans-serif;font-weight:bold;}
.details_info .info_ds{position:absolute;right:15px;top:19px;}
.details_info .info_ds button{padding:5px;}
.details_info .info_ds button span{display:block;overflow:hidden;position:relative;width:20px;height:20px;text-indent:-9999px;}
.details_info .info_ds .star span{background:url(../images/icons/ico_heart.png) no-repeat left top;background-size:20px 40px;}
.details_info .info_ds .star.on span{background-position:0 -20px;}
.details_info .info_ds .sns{margin-left:1px;}
.details_info .info_ds .sns span{background:url(../images/icons/ico_sns.svg) no-repeat left top;background-size:100%;}
.details_info .info_btm{padding:30px 0 10px;border-top:1px solid #e6e6e6;}
.details_info .info_btm dl{display:flex;}
.details_info .info_btm dl + dl{margin-top:9px;}
.details_info .info_btm dl dt{width:85px;font-weight:500;font-size:14px;line-height:21px;letter-spacing:-0.35px;color:#333;}
.details_info .info_btm dl dd{font-size:14px;line-height:21px;letter-spacing:-0.35px;color:#595959;}

/* Contents Tab */
.tab-wrap02{padding:0 20px;height:52px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.tab-wrap02 ul{display:flex;}
.tab-wrap02 ul li{flex:1;text-align:center;font-size:15px;}
.tab-wrap02 ul li a{display:block;color:#999;}
.tab-wrap02 ul li a span{display:inline-block;position:relative;padding:17px 0 0;height:50px;}
.tab-wrap02 ul li.on{font-weight:500;}
.tab-wrap02 ul li.on a{color:#ffb2ca;}
.tab-wrap02 ul li.on a span:after{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:2px;background-color:#ffb2ca;}

/* Search */
.search_wrap{padding:30px 20px 15px;}
.search_area{display:flex;align-items:center;}
.search_area a{display:block;margin-left:-10px;padding:10px;}
.search_area a span{display:block;overflow:hidden;width:20px;height:20px;background:url(../images/icons/ico_left_arrow.svg) no-repeat left top;text-indent:-9999px;}
.search_area .input_wrap{position:relative;width:calc(100% - 30px);height:45px;border-radius:136px;background-color:#fff1f6;}
.search_area .input_wrap input{padding:0 0 0 20px;border:0;width:calc(100% - 60px);height:inherit;background-color:transparent;font-size:14px;color:#444;}
.search_area .input_wrap input::placeholder{font-size:15px;letter-spacing:-0.38px;color:#999;}
.search_area .input_wrap .btn_search{position:absolute;right:0;top:0;width:60px;height:100%;}
.search_area .input_wrap .btn_search span{display:block;overflow:hidden;width:inherit;height:inherit;text-indent:-9999px;background:url(../images/icons/ico_search.png) no-repeat center center;background-size:20px;}
.search_area + .search_inner{padding-top:21px;}
.search_inner{position:relative;padding-top:27px;}
.search_inner + .search_inner{margin-top:20px;}
.search_inner + .search_inner:before{content:'';position:absolute;left:-20px;right:-20px;top:0;height:6px;background-color:#e6e6e6;}
.search_inner .sch_top{display:flex;justify-content:space-between;}
.search_inner .sch_top h2{font-weight:700;font-size:18px;line-height:25px;letter-spacing:-0.45px;color:#333;}
.search_inner .sch_top a{font-size:13px;line-height:25px;color:#999;}
.search_inner .sch_cont{padding-top:11px;}
.search_inner .sch_cont > p{display:flex;position:relative;padding-right:30px;height:40px;font-size:15px;color:#595959;align-items:center;}
.search_inner .sch_cont p a{display:block;position:absolute;right:-10px;top:0;overflow:hidden;width:40px;height:inherit;background:url(../images/icons/ico_delete.svg) no-repeat center center;background-size:20px;text-indent:-9999px;}
.search_inner .sch_list{display:flex;flex-wrap:wrap;margin:10px -5px 0 0;}
.search_inner .sch_list a{display:inline-flex;padding:0 19px;margin:0 5px 5px 0;height:35px;border-radius:30px;border:1px solid #c8c8c8;font-size:15px;line-height:22px;color:#595959;align-items:center;justify-content:center;}

.sch_nodata{padding:50px 0 40px;text-align:center;}
.sch_nodata:before{content:'';display:block;width:50px;height:50px;margin:0 auto;background:url(../images/icons/ico_nodata.svg) no-repeat left top;}
.sch_nodata p{margin-top:10px;font-size:15px;line-height:22px;color:#999;}